<div class="tab-pane fade active in" ng-init="find()">
  <div class="page-header">
    <h1>Perfil de usuario</h1>
  </div>

  <div class="col-md-3">
    <img ng-src="/uploads/{{user.profilePicture}}" height="200" width="200"/>
  </div>

  <form class="col-md-9 form" name="form" ng-submit="update(form)" role=form novalidate>
    <h3><span class="text-center"></span> Información personal</h3>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" class="form-control" ng-model="user.email" id="email" readonly/>
    </div>

    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" name="name" class="form-control" ng-model="user.name" id="name" readonly/>
    </div>

    <div class="form-group">
      <label for="lastName">Apellido:</label>
      <input type="text" name="lastName" class="form-control" ng-model="user.lastName" id="lastname" readonly/>
    </div>

    <div class="form-group">
      <label for="province">Provincia:</label>
      <input type="text" name="province" class="form-control" ng-model="user.province" id="province"readonly/>
    </div>

    <div class="form-group">
      <label for="city">Localidad:</label>
      <input type="text" name="city" class="form-control" ng-model="user.city" id="city"readonly/>
    </div>

    <div class="form-group" ng-if="user.role == 1">
      <label for="profession">Profesión:</label>
      <div class="list-group" id="profession">
        <label class="list-group-item" ng-repeat="profession in user.tags | filter:{category:0}">
        <input type="text" class="form-control" ng-model="profession.name" readonly/>
          <!--Especialización -->
            <label class="list-group-item" ng-repeat="specialization in user.tags | filter:{category:4} | filter: {parent:profession._id}">
              <input type="text" class="form-control" ng-model="specialization.name" readonly/>
            </label>
        </label>
      </div>
    </div>

    <div class="form-group" ng-if="user.role == 1">
      <label for="thematicAreas">Áreas Temáticas:</label>
      <div class="list-group" id="thematicAreas">
        <label class="list-group-item" ng-repeat="thematicArea in user.tags | filter:{category:2}">
          <input type="text" class="form-control" ng-model="thematicArea.name" readonly/>
          <!--Especialización -->
          <label class="list-group-item" ng-repeat="specialization in user.tags | filter:{category:5} | filter: {parent:thematicArea._id}">
            <input type="text" class="form-control" ng-model="specialization.name" readonly/>
          </label>
        </label>
      </div>
    </div>

    <div class="list-group" ng-if="user.role == 1">
      <label>Población:</label>
      <div class="list-group-item" class="form-group">
        <label for="population">Grupo etáreo:</label>
        <div class="list-group" id="population">
          <label class="list-group-item" ng-repeat="population in user.tags | filter:{category:1}">
            <input type="text" class="form-control" ng-model="population.name" readonly/>
          </label>
        </div>
      </div>
      <div class="list-group-item" class="form-group">
        <label for="gender">Sexo:</label>
        <div class="list-group" id="gender">
          <label class="list-group-item" ng-repeat="gender in user.tags | filter:{category:3}">
            <input type="text" class="form-control" ng-model="gender.name" readonly/>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="city">Institución</label>
      <input type="text" name="institution" class="form-control" ng-model="user.institution" id="institution" readonly/>
    </div>

    <div class="form-group" ng-if="user.role == 1">
      <label>Grupo:</label>
      <text>{{user.inn + ', ' + user.group.day + ' ' + user.group.time  }}</text>
    </div>

  </form>
</div>
