<div class="tab-pane fade active in">
  <div class="page-header">
    <h1>Perfil de usuario</h1>
  </div>

  <div class="col-md-3">
    <label>Foto de perfil</label>
    <div><img class="img-thumbnail" ng-src="/uploads/{{user.profilePicture}}"/></div><br>
    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
            accept="image/*" ngf-max-size="4MB">
      Seleccionar foto</button>
    <div style="font:smaller">{{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0 && f.progress != 100">
          <div style="width:{{f.progress}}%"
               ng-bind="f.progress + '%'"></div>
      </span>
    </div>
    {{errorMsg}}
  </div>

  <form class="col-md-9 form" name="form" ng-submit="update(form)" role=form novalidate>
    <h3><span class="text-center"></span> Información personal</h3>

    <div class="form-group">
      <label for="email">Email:</label>
	  <p>{{user.email}}</p>
    </div>

    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" name="name" class="form-control" ng-model="user.name" id="name"/>
    </div>

    <div class="form-group">
      <label for="lastName">Apellido:</label>
      <input type="text" name="lastName" class="form-control" ng-model="user.lastName" id="lastname"/>
    </div>

    <div class="form-group">
      <label for="province">Provincia:</label>
      <input type="text" name="province" class="form-control" ng-model="user.province" id="province"/>
    </div>

    <div class="form-group">
      <label for="city">Localidad:</label>
      <input type="text" name="city" class="form-control" ng-model="user.city" id="city"/>
    </div>

    <div class="form-group" ng-if="user.role == 1">
      <label for="profession">Profesión:</label>
      <label><small>Define tu profesión, oficio u ocupación y especialidad dentro de la misma. Puedes seleccionar más de una opción.</small></label>
      <div class="list-group" id="profession">
        <label class="list-group-item" ng-repeat="profession in tags | filter:{category:0}">
          <input type="checkbox" checklist-model="user.tags" checklist-value="profession._id"> {{profession.name}}

          <!--Especialización -->
          <div class="list-group" ng-if="user.tags.indexOf(profession._id)!=-1">
            <label class="list-group-item" ng-repeat="specialization in tags | filter:{category:4} | inArray:profession.subtags:'_id'">
              <input type="checkbox" checklist-model="user.tags" checklist-value="specialization._id"> {{specialization.name}}
            </label>
          </div>

        </label>
      </div>
    </div>

    <div class="form-group" ng-if="user.role == 1">
      <label for="thematicAreas">
        Áreas Temáticas:
        <label><small>Define las áreas en las que trabajas y especialización dentro de la misma. Puedes seleccionar más de una opción.</small></label>
      </label>
      <div class="list-group" id="thematicAreas">
        <label class="list-group-item" ng-repeat="thematicArea in tags | filter:{category:2}">
          <input type="checkbox" checklist-model="user.tags" checklist-value="thematicArea._id"> {{thematicArea.name}}

          <!--Especialización -->
          <div class="list-group" ng-if="user.tags.indexOf(thematicArea._id)!=-1">
            <label class="list-group-item" ng-repeat="specialization in tags | filter:{category:5} | inArray:thematicArea.subtags:'_id'">
              <input type="checkbox" checklist-model="user.tags" checklist-value="specialization._id"> {{specialization.name}}
            </label>
          </div>

        </label>
      </div>
    </div>

    <div class="list-group" ng-if="user.role == 1">
      <label>Población:
        <label><small>Define la población con la que trabajas. Puedes seleccionar más de una opción.</small></label>
      </label>
      <div class="list-group-item" class="form-group">
        <label for="population">Grupo etáreo:</label>
        <div class="list-group" id="population">
          <label class="list-group-item" ng-repeat="population in tags | filter:{category:1}">
            <input type="checkbox" checklist-model="user.tags" checklist-value="population._id"> {{population.name}}
          </label>
        </div>
      </div>
      <div class="list-group-item" class="form-group">
        <label for="gender">Sexo:</label>
        <div class="list-group" id="gender">
          <label class="list-group-item" ng-repeat="gender in tags | filter:{category:3}">
            <input type="checkbox" checklist-model="user.tags" checklist-value="gender._id"> {{gender.name}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="city">Institución:
        <label><small>¿te desempeñas en alguna institución u organización solidaria?</small></label>
      </label>
      <input type="text" name="institution" class="form-control" ng-model="user.institution" id="institution"/>
    </div>

    <div class="form-group" ng-if="user.role == 1">
      <label>Grupo:</label><br>
      <select class="form-control" ng-selected="user.group" ng-model="user.group" ng-options="group._id as group.inn.name + ': ' + group.day + ' ' + group.time for group in groups"></select>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
  </form>
</div>
