<div id="nationality-group-create" class="form-group">
    <br>
    <label>¿Actualmente se encuentra consumiendo?</label><br>
	<a href="#" editable-select="aided.addictions.consuming" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.addictions.consuming" onaftersave="update(['({addictions: {consuming: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.addictions.consuming})[0].text || 'Indique si consume'}}
	</a><br></br>
	<div ng-show="!aided.addictions.consuming">
		<label>¿Hace cuánto tiempo que no consume?</label><br>
		<a href="#" editable-select="aided.addictions.timeClean" ng-model="aided.addictions.timeClean" e-ng-options="time for time in aidedData.addictions.time" onaftersave="update(['({addictions: {timeClean: %data% }})', $data])">
			{{aided.addictions.timeClean || 'Indique cuanto tiempo lleva sin consumir' }}
		</a><br></br>
	</div>
    <label>Edad de inicio de consumo:</label><br>
    <a href="" editable-text="aided.addictions.ageOfOnset" onbeforesave="validate($data, '^[0-9]{1,2}$', 'El número debe tener entre 1 y 2 cifras.')" onaftersave="update(['({addictions: {ageOfOnset: %data% }})', $data])" ng-model="aided.addictions.ageOfOnset">{{ aided.addictions.ageOfOnset || 'Indique la edad de inicio de consumo' }}</a><br></br>
    <label>Sustancia de inicio de consumo:</label><br>
	<a href="#" editable-select="aided.addictions.startSubstance" ng-model="aided.addictions.startSubstance" e-ng-options="d for d in aidedData.addictions.drug" onaftersave="update(['({addictions: {startSubstance: %data% }})', $data])">
		{{aided.addictions.startSubstance || 'Indique la sustancia de inicio' }}
	</a><br></br>
    <label>Otras sustancias de consumo:</label>
    <div ng-repeat="drug in aided.addictions.drugs" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('addictions','drugs',$index)">&times;</span>
        <label><small>Droga:</small></label><br>
		<a href="#" editable-select="drug.name" ng-model="drug.name" e-ng-options="d for d in aidedData.addictions.drug" onaftersave="updateCollection('addictions','drugs')">
			{{drug.name || 'Indique la droga' }}
		</a><br></br>
        <label><small>Modalidad de consumo:</small></label><br>
		<a href="#" editable-select="drug.route" ng-model="drug.route" e-ng-options="r for r in aidedData.addictions.routes" onaftersave="updateCollection('addictions','drugs')">
			{{drug.route || 'Indique la modalidad de consumo' }}
		</a><br></br>
        <label><small>Frecuencia de consumo:</small></label><br>
		<a href="#" editable-select="drug.frequency" ng-model="drug.frequency" e-ng-options="f for f in aidedData.addictions.frequency" onaftersave="updateCollection('addictions','drugs')">
			{{drug.frequency || 'Indique la frecuencia de consumo' }}
		</a><br></br>
        <label><small>Consume la droga actualmente?:</small></label><br>
		<a href="#" editable-select="drug.consuming" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="drug.consuming" onaftersave="updateCollection('addictions','drugs')">
			{{(yesNoOptions | filter:{value: drug.consuming})[0].text || 'Indique si consume actualmente'}}
		</a>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('addictions','drugs')">
        <span class="glyphicon glyphicon-plus"></span> Agregar droga
    </button>
    <br></br>
    <label>¿El paciente presenta una Patología Dual?</label><br>
	<a href="#" editable-select="aided.addictions.hasDualPathology" ng-model="aided.addictions.hasDualPathology" e-ng-options="a for a in ['Sí','No','Se desconoce']" onaftersave="update(['({addictions: {hasDualPathology: %data% }})', $data])">
		{{aided.addictions.hasDualPathology || 'Indique si presenta patología dual' }}
	</a><br></br>
	<div ng-show="aided.addictions.hasDualPathology == 'Sí'">
		<label>Indicar Patología Dual</label><br>
		<label><small>Describir el tipo de patología dual que presenta el paciente</small></label><br>
		<a href="" editable-text="aided.addictions.dualPathologyType" onbeforesave="validate($data, '^.{3,40}$', 'El tipo de patología debe tener entre 3 y 40 caracteres.')" onaftersave="update(['({addictions: {dualPathologyType: %data% }})', $data])" ng-model="aided.addictions.dualPathologyType">
			{{ aided.addictions.dualPathologyType || 'Ingrese el tipo de patología dual' }}
		</a><br></br>
	</div>
    <label>Historial de tratamientos de salud mental</label>
    <div ng-repeat="treatment in aided.addictions.treatments" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('addictions','treatments',$index)">&times;</span>
        <label>Tipo de tratamiento:</label><br>
		<a href="#" editable-select="treatment.category" ng-model="treatment.category" e-ng-options="type for type in aidedData.mental.treatmentCategories" onaftersave="updateCollection('addictions', 'treatments')">
			{{treatment.category || 'Seleccione el tipo de tratamiento'}}
		</a><br></br>
        <label>Desde:</label><br>
		<a href="#" editable-bsdate="treatment.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('addictions', 'treatments')">
			{{ (treatment.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <div ng-show="!treatment.inProgress">
          <label>Hasta:</label><br>
          <a href="#" editable-bsdate="treatment.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('addictions', 'treatments')">
              {{ (treatment.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
          </a><br></br>
        </div>
        <label>¿Este tratamiento continúa actualmente?</label><br>
		<a href="#" editable-select="treatment.inProgress" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="treatment.inProgress" onaftersave="updateCollection('addictions','treatments')">
			{{(yesNoOptions | filter:{value: treatment.inProgress})[0].text || 'Indique si el tratamiento continúa'}}
		</a><br></br>
        <label>Lugar de tratamiento</label></br>
        <label><small>Hospital, Institución o comunidad terapéutica:</small></label><br>
		<a href="" editable-text="treatment.institutionName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('addictions', 'treatments')" ng-model="treatment.institutionName">{{ treatment.institutionName || 'Ingrese el nombre de la institución' }}</a><br></br>
        <label><small>Dirección:</small></label><br>
		<a href="" editable-text="treatment.institutionAddress" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('addictions', 'treatments')" ng-model="treatment.institutionAddress">{{ treatment.institutionAddress || 'Ingrese la dirección de la institución' }}</a><br></br>
        <label><small>Número de teléfono:</small></label><br>
		<a href="" editable-text="treatment.institutionPhoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="updateCollection('addictions', 'treatments')" ng-model="treatment.institutionPhoneNumber">{{ treatment.institutionPhoneNumber || 'Ingrese el teléfono de la institución' }}</a><br></br>
        <label><small>Email:</small></label><br>
		<a href="" editable-text="treatment.institutionEmail" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('addictions', 'treatments')" ng-model="treatment.institutionEmail">{{ treatment.institutionEmail || 'Ingrese el email de la institución' }}</a><br></br>
        <label>Particular</label></br>
        <label><small>Nombre y apellido del médico:</small></label><br>
		<a href="" editable-text="treatment.doctorName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('addictions', 'treatments')" ng-model="treatment.doctorName">{{ treatment.doctorName || 'Ingrese el nombre completo del médico' }}</a><br></br>
        <label><small>Número de teléfono:</small></label><br>
		<a href="" editable-text="treatment.doctorPhoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="updateCollection('addictions', 'treatments')" ng-model="treatment.doctorPhoneNumber">{{ treatment.doctorPhoneNumber || 'Ingrese el teléfono del médico' }}</a><br></br>
        <label><small>Email:</small></label><br>
		<a href="" editable-text="treatment.doctorEmail" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('addictions', 'treatments')" ng-model="treatment.doctorEmail">{{ treatment.doctorEmail || 'Ingrese el email del médico' }}</a><br>
		<br>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('addictions','treatments')">
        <span class="glyphicon glyphicon-plus"></span> Agregar tratamiento
    </button>
    <br></br>
    <label>¿Episodios agresivos?</label>
    <div ng-repeat="episode in aided.addictions.episodesOfAggression" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('addictions','episodesOfAggression',$index)">&times;</span>
		<label><small>Objetivo:</small></label><br>
		<a href="#" editable-select="episode.target" ng-model="episode.target" e-ng-options="t for t in ['Su persona', 'Otra persona']" onaftersave="updateCollection('addictions', 'episodesOfAggression')">
			{{episode.target || 'Seleccione el objetivo'}}
		</a><br></br>
        <label><small>Tipo de agresión:</small></label><br>
		<a href="#" editable-select="episode.category" ng-model="episode.category" e-ng-options="c for c in aidedData.aggressionCategories" onaftersave="updateCollection('addictions', 'episodesOfAggression')">
			{{episode.category || 'Seleccione la categoría'}}
		</a><br></br>
        <label><small>Fecha:</small></label><br>
		<a href="#" editable-bsdate="episode.date" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('addictions', 'episodesOfAggression')">
			{{ (episode.date | date:"yyyy-MM-dd") || 'Ingrese la fecha' }}
		</a><br></br>
        <label><small>Lugar:</small></label><br>
		<a href="" editable-text="episode.place" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'El nombre debe tener entre 3 y 20 caracteres.')" onaftersave="updateCollection('addictions', 'episodesOfAggression')" ng-model="episode.place" >{{ episode.place || 'Ingrese el lugar' }}</a>
    </div></br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('addictions','episodesOfAggression')">
        <span class="glyphicon glyphicon-plus"></span> Agregar episodio
    </button>
    </br></br>
	<label>¿Se necesita derivar al paciente a un Hospital o Centro de Salud?</label><br>
	<a href="#" editable-select="aided.addictions.needsDerivation" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.addictions.needsDerivation" onaftersave="update(['({addictions: {needsDerivation: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.addictions.needsDerivation})[0].text || 'Indique si hay que derivar'}}
	</a><br></br>
    <label>¿Necesita internación?</label><br>
	<a href="#" editable-select="aided.addictions.needsInstitutionalization" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.addictions.needsInstitutionalization" onaftersave="update(['({addictions: {needsInstitutionalization: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.addictions.needsInstitutionalization})[0].text || 'Indique si hay que internar'}}
	</a><br></br>
	<div ng-show="aided.addictions.needsInstitutionalization">
		<label>Institución donde se buscará internación</label></br>
		<a href="" editable-text="aided.addictions.institutionName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({addictions: {institutionName: %data% }})', $data])" ng-model="aided.addictions.institutionName">
			{{ aided.addictions.institutionName || 'Ingrese el nombre de la institución' }}
		</a><br></br>
		<label><small>Dirección:</small></label><br>
		<a href="" editable-text="aided.addictions.institutionAddress" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="update(['({addictions: {institutionAddress: %data% }})', $data])" ng-model="aided.addictions.institutionAddress">
			{{ aided.addictions.institutionAddress || 'Ingrese la dirección de la institución' }}
		</a><br></br>
		<label><small>Número de teléfono:</small></label><br>
		<a href="" editable-text="aided.addictions.institutionPhoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="update(['({addictions: {institutionPhoneNumber: %data% }})', $data])" ng-model="aided.addictions.institutionPhoneNumber">
			{{ aided.addictions.institutionPhoneNumber || 'Ingrese el teléfono de la institución' }}
		</a><br></br>
		<label><small>Email:</small></label><br>
		<a href="" editable-text="aided.addictions.institutionEmail" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="update(['({addictions: {institutionEmail: %data% }})', $data])" ng-model="aided.addictions.institutionEmail">
			{{ aided.addictions.institutionEmail || 'Ingrese el email de la institución' }}
		</a><br></br>
	</div>
	<div ng-show="!aided.personal.gender">
		<label>¿Está embarazada?</label><br>
		<a href="#" editable-select="aided.addictions.pregnant" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.addictions.pregnant" onaftersave="update(['({addictions: {pregnant: %data% }})', $data])">
			{{(yesNoOptions | filter:{value: aided.addictions.pregnant})[0].text || 'Indique si está embarazada'}}
		</a><br></br>
	</div>
    <label>Diagnóstico de Adicciones (Posadero)</label></br>
    <label><small>Diagnóstico general realizado por el profesional del Posadero</small></label><br>
	<a href="#" editable-textarea="aided.addictions.observations" e-rows="4" e-cols="50" ng-model="aided.addictions.observations" onaftersave="update(['({addictions: {observations: %data% }})', $data])">
		<pre>{{aided.addictions.observations || 'Ingrese los antecedentes mentales del paciente'}}</pre>
	</a><br>
</div>
