<div id="nationality-group-create" class="form-group">
    </br>
    <label>Ingrese la altura del paciente (en cm):</label></br>
	<a href="" editable-text="aided.clinical.height" onbeforesave="validate($data, '^[0-9]{2,3}$', 'El número debe tener entre 2 y 3 cifras.')" onaftersave="update(['({clinical: {height: %data% }})', $data])" ng-model="aided.clinical.height">{{ aided.clinical.height || 'Ingrese la altura del paciente' }}</a><br></br>
    <label>Ingrese el peso del paciente (en kg):</label></br>
	<a href="" editable-text="aided.clinical.weight" onbeforesave="validate($data, '^[0-9]{1,3}$', 'El número debe tener entre 1 y 3 cifras.')" onaftersave="update(['({clinical: {weight: %data% }})', $data])" ng-model="aided.clinical.weight">{{ aided.clinical.weight || 'Ingrese el peso del paciente' }}</a><br></br>
    <label>Enfermedades actuales:</label>
    <div ng-repeat="disease in aided.clinical.diseases" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('clinical', 'diseases', $index)">&times;</span>
		<label><small>Categoría:</small></label><br>		
		<a href="#" editable-select="disease.category" ng-model="disease.category" e-ng-options="category as category for (category, disease) in aidedData.clinical.diseases" onaftersave="updateCollection('clinical', 'diseases')">
			{{disease.category || 'Seleccione la categoría'}}
		</a><br></br>
        <label><small>Enfermedad:</small></label><br>
		<a href="#" editable-select="disease.name" ng-model="disease.name" e-ng-options="disease for disease in aidedData.clinical.diseases[disease.category]" onaftersave="updateCollection('clinical', 'diseases')">
			{{disease.name || 'Seleccione la enfermedad'}}
		</a><br></br>
        <label><small>Detalles:</small></label><br>
        <a href="#" editable-textarea="disease.details" e-rows="4" e-cols="50" ng-model="disease.details" onaftersave="updateCollection('clinical', 'diseases')">
			<pre>{{disease.details || 'Ingrese los detalles de la enfermedad'}}</pre>
		</a>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('clinical','diseases')">
        <span class="glyphicon glyphicon-plus"></span> Agregar enfermedad
    </button>
    <br></br>
    <label>Antecedentes</label><br>
    <label><small>Antecedentes mórbidos (médicos, quirúrgicos, traumatismos):</small></label></br>
	<a href="#" editable-textarea="aided.clinical.morbidHistory" e-rows="4" e-cols="50" ng-model="aided.clinical.morbidHistory" onaftersave="update(['({clinical: {morbidHistory: %data% }})', $data])">
		<pre>{{aided.clinical.morbidHistory || 'Ingrese los antecedentes mórbidos del paciente'}}</pre>
	</a><br>
	<div ng-show="!aided.personal.gender">
		<label><small>Antecedentes gineco-obstétricos:</small></label></br>
		<a href="#" editable-textarea="aided.clinical.obGynRecord" e-rows="4" e-cols="50" ng-model="aided.clinical.obGynRecord" onaftersave="update(['({clinical: {obGynRecord: %data% }})', $data])">
			<pre>{{aided.clinical.obGynRecord || 'Ingrese los antecedentes gineco-obstétricos del paciente'}}</pre>
		</a><br>
	</div>
    <label><small>Hábitos:</small></label></br>
	<a href="#" editable-textarea="aided.clinical.habits" e-rows="4" e-cols="50" ng-model="aided.clinical.habits" onaftersave="update(['({clinical: {habits: %data% }})', $data])">
		<pre>{{aided.clinical.habits || 'Ingrese los hábitos del paciente'}}</pre>
	</a><br>
    <label><small>Antecedentes familiares:</small></label></br>
	<a href="#" editable-textarea="aided.clinical.familyHistory" e-rows="4" e-cols="50" ng-model="aided.clinical.familyHistory" onaftersave="update(['({clinical: {familyHistory: %data% }})', $data])">
		<pre>{{aided.clinical.familyHistory || 'Ingrese los antecedentes familiares del paciente'}}</pre>
	</a><br>
    <label><small>Inmunizaciones:</small></label></br>
	<a href="#" editable-textarea="aided.clinical.immunizations" e-rows="4" e-cols="50" ng-model="aided.clinical.immunizations" onaftersave="update(['({clinical: {immunizations: %data% }})', $data])">
		<pre>{{aided.clinical.immunizations || 'Ingrese las inmunizaciones del paciente'}}</pre>
	</a><br>
    <label>Personas con discapacidad</label></br>
    <label><small>Indicar si el paciente presenta alguna/s de las siguientes:</small></label>
    <div class="list-group">
		<a href="#" editable-checklist="aided.clinical.disabilities" e-ng-options="disability for disability in aidedData.clinical.disabilities" onaftersave="updateCollection('clinical', 'disabilities')">
    		{{ showChecklist(aided.clinical.disabilities) || 'Ingrese las discapacidades del paciente' }}
  		</a>
    </div>
    <label>Consultas médicas anteriores:</label></br>
    <div ng-repeat="medicalConsultation in aided.clinical.previousMedicalConsultations" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('clinical','previousMedicalConsultations',$index)">&times;</span>
        <label><small>Fecha de consulta:</small></label><br>
		<a href="#" editable-bsdate="medicalConsultation.date" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')">
			{{ (medicalConsultation.date | date:"yyyy-MM-dd") || 'Ingrese la fecha de la consulta' }}
		</a><br></br>
        <label><small>Hospital o institución:</small></label><br>
		<a href="" editable-text="medicalConsultation.institution" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'La institución debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')" ng-model="medicalConsultation.institution">{{ medicalConsultation.institution || 'Ingrese la institución' }}</a><br></br>
        <label><small>Área o especialidad:</small></label><br>
		<a href="" editable-text="medicalConsultation.specialty" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'La especialidad debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')" ng-model="medicalConsultation.specialty">{{ medicalConsultation.specialty || 'Ingrese la especialidad' }}</a><br></br>
        <label><small>Médico (nombre y apellido):</small></label><br>
		<a href="" editable-text="medicalConsultation.mdFullName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')" ng-model="medicalConsultation.mdFullName">{{ medicalConsultation.mdFullName || 'Ingrese el nombre completo del médico' }}</a><br></br>
        <label><small>Diagnóstico:</small></label><br>
		<a href="#" editable-textarea="medicalConsultation.diagnosis" e-rows="4" e-cols="50" ng-model="medicalConsultation.diagnosis" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')">
			<pre>{{medicalConsultation.diagnosis || 'Ingrese el diagnóstico'}}</pre>
		</a><br>
        <label><small>Tratamiento:</small></label><br>
		<a href="#" editable-textarea="medicalConsultation.treatment" e-rows="4" e-cols="50" ng-model="medicalConsultation.treatment" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')">
			<pre>{{medicalConsultation.treatment || 'Ingrese el tratamiento'}}</pre>
		</a>
        </br>
        <div ng-repeat="medicalPrescription in aided.clinical.previousMedicalConsultations[$index].medicalPrescriptions" class="form-group list-group-item">
            <span class="close" ng-click="clearFromSubcollection('clinical','previousMedicalConsultations','medicalPrescriptions', $parent.$index, $index)">&times;</span>
            <label><small>Fármaco:</small></label><br>
			<a href="" editable-text="medicalPrescription.drug" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'La droga debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')" ng-model="medicalPrescription.drug">{{ medicalPrescription.drug || 'Ingrese el nombre de la droga' }}</a><br></br>
            <label><small>Dosis:</small></label><br>
			<a href="" editable-text="medicalPrescription.dose" onbeforesave="validate($data, '^[0-9]{1,3}$', 'El número debe tener entre 1 y 3 cifras.')" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')" ng-model="medicalPrescription.dose" >{{ medicalPrescription.dose || 'Ingrese el valor de la dosis' }}</a><br></br>
            <label><small>Unidad:</small></label><br>
			<a href="#" editable-select="medicalPrescription.doseUnit" ng-model="medicalPrescription.doseUnit" e-ng-options="unit for unit in ['ug','mg','g']" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')">
				{{medicalPrescription.doseUnit || 'Seleccione la unidad'}}
			</a><br></br>
            <label><small>Intervalo de administración (en horas):</small></label><br>
			<a href="" editable-text="medicalPrescription.dosingInterval" onbeforesave="validate($data, '^[0-9]{1,3}$', 'El número debe tener entre 1 y 3 cifras.')" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')" ng-model="medicalPrescription.dosingInterval" >{{ medicalPrescription.dosingInterval || 'Ingrese el intervalo de la dosis' }}</a><br></br>
            <label><small>Duración del tratamiento (en días):</small></label><br>
			<a href="" editable-text="medicalPrescription.treatmentDuration" onbeforesave="validate($data, '^[0-9]{1,3}$', 'El número debe tener entre 1 y 3 cifras.')" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')" ng-model="medicalPrescription.treatmentDuration" >{{ medicalPrescription.treatmentDuration || 'Ingrese la duración del tratamiento' }}</a><br></br>
            <label><small>Forma de administración:</small></label><br>
			<a href="#" editable-select="medicalPrescription.route" ng-model="medicalPrescription.route" e-ng-options="route for route in aidedData.clinical.routes" onaftersave="updateCollection('clinical', 'previousMedicalConsultations')">
				{{medicalPrescription.route || 'Seleccione la forma de administración'}}
			</a><br></br>
        </div>
        </br>
        <button class="btn btn-primary btn-restriction" ng-click="addToSubcollection('clinical','previousMedicalConsultations','medicalPrescriptions', $index)">
            <span class="glyphicon glyphicon-plus"></span> Agregar receta
        </button>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('clinical','previousMedicalConsultations')">
        <span class="glyphicon glyphicon-plus"></span> Añadir consulta
    </button>
    <br></br>
    <label>Medicación habitual:</label></br>
	<a href="#" editable-textarea="aided.clinical.usualMedication" e-rows="4" e-cols="50" ng-model="aided.clinical.usualMedication" onaftersave="update(['({clinical: {usualMedication: %data% }})', $data])">
		<pre>{{aided.clinical.usualMedication || 'Ingrese la medicación habitual del paciente'}}</pre>
	</a><br>
    <label>Efectos adversos o alergia a fármacos:</label></br>
    <a href="#" editable-textarea="aided.clinical.knownMedicationAllergiesAndAdverseEffects" e-rows="4" e-cols="50" ng-model="aided.clinical.knownMedicationAllergiesAndAdverseEffects" onaftersave="update(['({clinical: {knownMedicationAllergiesAndAdverseEffects: %data% }})', $data])">
		<pre>{{aided.clinical.knownMedicationAllergiesAndAdverseEffects || 'Ingrese los efectos adversos y/o alergias'}}</pre>
	</a><br>
    <label>¿El paciente sigue el tratamiento?</label><br>
	<a href="#" editable-select="aided.clinical.treatmentStatus" ng-model="aided.clinical.treatmentStatus" e-ng-options="treatmentStatus for treatmentStatus in aidedData.clinical.treatmentStatus" onaftersave="update(['({clinical: {treatmentStatus: %data% }})', $data])">
		{{ aided.clinical.treatmentStatus || 'Seleccione el estado del tratamiento'}}
	</a><br></br>
	<div ng-show="aided.clinical.treatmentStatus == 'Suspendió el tratamiento'">
		<label>Motivo por el cual interrumpió el tratamiento:</label><br/>
		<a href="#" editable-select="aided.clinical.treatmentAbandonmentReasons" ng-model="aided.clinical.treatmentAbandonmentReasons" e-ng-options="t for t in aidedData.clinical.treatmentAbandonmentReasons" onaftersave="update(['({clinical: {treatmentAbandonmentReasons: %data% }})', $data])">
			{{ aided.clinical.treatmentAbandonmentReasons || 'Seleccione el motivo'}}
		</a><br></br>
		<label>Fecha en la cual interrumpió el tratamiento</label><br>
		<a href="#" editable-bsdate="aided.clinical.treatmentAbandonmentDate" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="update(['({clinical: {treatmentAbandonmentDate: %data% }})', $data])">
			{{ (aided.clinical.treatmentAbandonmentDate | date:"yyyy-MM-dd") || 'Ingrese la fecha de abandono del tratamiento' }}
		</a>
		<br></br>
	</div>
    <label>Médico Referente</label></br>
    <label><small>¿El asistido posee un médico de cabecera?</small></label><br>
	<a href="#" editable-select="aided.clinical.hasGeneralPractitioner" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.clinical.hasGeneralPractitioner" onaftersave="update(['({clinical: {hasGeneralPractitioner: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.clinical.hasGeneralPractitioner})[0].text || 'Indique si tiene médico de cabecera'}}
	</a><br></br>
	<div ng-show="aided.clinical.hasGeneralPractitioner">
		<label><small>Nombre y Apellido del médico referente o médico de cabecera:</small></label><br>
		<a href="" editable-text="aided.clinical.generalPractitionerName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({clinical: {generalPractitionerName: %data% }})', $data])" ng-model="aided.clinical.generalPractitionerName">
			{{ aided.clinical.generalPractitionerName || 'Ingrese el nombre completo' }}
		</a><br></br>
		<label><small>Especialidad del médico referente o médico de cabecera:</small></label><br>
		<a href="#" editable-select="aided.clinical.generalPractitionerSpecialty" ng-model="aided.clinical.generalPractitionerSpecialty" e-ng-options="s for s in aidedData.clinical.medicalSpecialties" onaftersave="update(['({clinical: {generalPractitionerSpecialty: %data% }})', $data])">
			{{ aided.clinical.generalPractitionerSpecialty || 'Seleccione la especialidad'}}
		</a><br></br>
		<label>Contacto</label></br>
		<label><small>Teléfono del médico de cabecera:</small></label><br>
		<a href="" editable-text="aided.clinical.generalPractitionerPhoneNumber" onbeforesave="validate($data, '^[0-9|+-|\\s]{5,20}$', 'El número debe tener entre 5 y 20 dígitos.')" onaftersave="update(['({clinical: {generalPractitionerPhoneNumber: %data% }})', $data])" ng-model="aided.clinical.generalPractitionerPhoneNumber">{{ aided.clinical.generalPractitionerPhoneNumber || 'Ingrese el número de teléfono' }}</a><br></br>
		<label><small>Email del médico de cabecera:</small></label><br>
		<a href="" editable-text="aided.clinical.generalPractitionerEmail" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'El número debe tener entre 5 y 20 dígitos.')" e-ng-disabled="!aided.clinical.hasGeneralPractitioner" onaftersave="update(['({clinical: {generalPractitionerEmail: %data% }})', $data])" ng-model="aided.clinical.generalPractitionerEmail">{{ aided.clinical.generalPractitionerEmail || 'Ingrese la dirección de correo electrónico' }}</a><br></br>
	</div>
    <label>Diagnóstico Salud Clínica (Posadero)</label><br>
    <label><small>Diagnóstico profesional realizado por el médico del Posadero</small></label><br>
	<a href="#" editable-textarea="aided.clinical.mentalHealthDiagnosis" e-rows="4" e-cols="50" ng-model="aided.clinical.mentalHealthDiagnosis" onaftersave="update(['({clinical: {mentalHealthDiagnosis: %data% }})', $data])">
		<pre>{{aided.clinical.mentalHealthDiagnosis || 'Ingrese el diagnóstico'}}</pre>
	</a><br>
</div>
