<div id="nationality-group-create" class="form-group">
    <br>
    <label>Donaciones:</label></br>
    <label><small>Seleccione una o varias categorías</small></label><br>
    <a href="#" editable-checklist="aided.donations.category" e-ng-options="t for t in aidedData.donations.type" onaftersave="updateCollection('donations','category')">
		{{ showChecklist(aided.donations.category) || 'Ingrese las categorías de las donaciones que necesita' }}
	</a><br><br>
    <label>Observaciones:</label><br>
	<a href="#" editable-textarea="aided.donations.observations" e-rows="4" e-cols="50" ng-model="aided.donations.observations" onaftersave="update(['({donations: {observations: %data% }})', $data])">
		<pre>{{aided.donations.observations || 'Ingrese sus observaciones'}}</pre>
	</a>
</div>
