<div id="nationality-group-create" class="form-group">
    <br>
    <label>Primario</label></br>
    <label><small>Indique el nivel de completitud:</small></label><br>
	<a href="#" editable-select="aided.education.elementaryStatus" ng-model="aided.education.elementaryStatus" e-ng-options="s for s in aidedData.education.completion" onaftersave="update(['({education: {elementaryStatus: %data% }})', $data])">
		{{aided.education.elementaryStatus || 'Indique el nivel de completitud' }}
	</a><br></br>
    <div ng-repeat="elementarySchool in aided.education.elementarySchools" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('education','elementarySchools',$index)">&times;</span>
		<label><small>Nombre de la escuela:</small></label><br>	
		<a href="" editable-text="elementarySchool.schoolName" onbeforesave="validate($data, '^[A-Z|0-9|a-z|á-ú|ä-ü|°\.\'\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('education', 'elementarySchools')" ng-model="elementarySchool.schoolName">{{ elementarySchool.schoolName || 'Ingrese el nombre de la institución' }}</a><br></br>
        <label><small>Dirección:</small></label><br>
		<a href="" editable-text="elementarySchool.address" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|0-9|\\-\°\.\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('education', 'elementarySchools')" ng-model="elementarySchool.address">{{ elementarySchool.address || 'Ingrese la dirección de la institución' }}</a><br></br>        
		<label><small>Desde:</small></label><br>
		<a href="#" editable-bsdate="elementarySchool.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'elementarySchools')">
			{{ (elementarySchool.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <label><small>Hasta:</small></label><br>
		<a href="#" editable-bsdate="elementarySchool.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'elementarySchools')">
			{{ (elementarySchool.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
		</a><br></br>
        </br>
        <div ng-repeat="referrer in aided.education.elementarySchools[$index].referrers" class="form-group list-group-item">
            <span class="close" ng-click="clearFromSubcollection('education','elementarySchools','referrers',$parent.$index, $index)">&times;</span>
            <label><small>Nombre:</small></label><br>
			<a href="" editable-text="referrer.name" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'elementarySchools')" ng-model="referrer.name">{{ referrer.name || 'Ingrese el nombre del referente' }}</a><br></br>
            <label><small>Apellido:</small></label><br>
			<a href="" editable-text="referrer.lastName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'elementarySchools')" ng-model="referrer.lastName">{{ referrer.lastName || 'Ingrese el apellido del referente' }}</a><br></br>
            <label><small>Cargo:</small></label><br>
			<a href="" editable-text="referrer.position" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|0-9|°\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras.')" onaftersave="updateCollection('education', 'elementarySchools')" ng-model="referrer.position">{{ referrer.position || 'Ingrese el cargo del referente' }}</a><br></br>
            <label><small>Número de teléfono:</small></label><br>
			<a href="" editable-text="referrer.phoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="updateCollection('education', 'elementarySchools')" ng-model="referrer.phoneNumber">{{ referrer.phoneNumber || 'Ingrese el teléfono del referente' }}</a><br></br>
            <label><small>Email:</small></label><br>
			<a href="" editable-text="referrer.email" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('education', 'elementarySchools')" ng-model="referrer.email">{{ referrer.email || 'Ingrese el email del referente' }}</a><br>
        </div>
        </br>
        <button class="btn btn-primary btn-restriction" ng-click="addToSubcollection('education','elementarySchools','referrers',$index)">
            <span class="glyphicon glyphicon-plus"></span> Agregar referente
        </button>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('education','elementarySchools')" ng-disabled="aided.education.elementaryStatus == 'Nunca iniciado'">
        <span class="glyphicon glyphicon-plus"></span> Agregar escuela
    </button>
    </br></br>
    <label>Secundario</label></br>
    <label><small>Indique el nivel de completitud:</small></label><br>
    <a href="#" editable-select="aided.education.highSchoolStatus" ng-model="aided.education.highSchoolStatus" e-ng-options="s for s in aidedData.education.completion" onaftersave="update(['({education: {highSchoolStatus: %data% }})', $data])">
		{{aided.education.highSchoolStatus || 'Indique el nivel de completitud' }}
	</a><br></br>
    <div ng-repeat="highSchool in aided.education.highSchools" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('education','highSchools',$index)">&times;</span>
		<label><small>Nombre de la escuela:</small></label><br>	
		<a href="" editable-text="highSchool.schoolName" onbeforesave="validate($data, '^[A-Z|0-9|a-z|á-ú|ä-ü|°\.\'\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('education', 'highSchools')" ng-model="highSchool.schoolName">{{ highSchool.schoolName || 'Ingrese el nombre de la institución' }}</a><br></br>
        <label><small>Dirección:</small></label><br>
		<a href="" editable-text="highSchool.address" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|0-9|\\-\°\.\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('education', 'highSchools')" ng-model="highSchool.address">{{ highSchool.address || 'Ingrese la dirección de la institución' }}</a><br></br>        
		<label><small>Desde:</small></label><br>
		<a href="#" editable-bsdate="highSchool.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'highSchools')">
			{{ (highSchool.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <label><small>Hasta:</small></label><br>
		<a href="#" editable-bsdate="highSchool.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'highSchools')">
			{{ (highSchool.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
		</a><br></br>
        </br>
        <div ng-repeat="referrer in aided.education.highSchools[$index].referrers" class="form-group list-group-item">
            <span class="close" ng-click="clearFromSubcollection('education','highSchools','referrers',$parent.$index, $index)">&times;</span>
            <label><small>Nombre:</small></label><br>
			<a href="" editable-text="referrer.name" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'highSchools')" ng-model="referrer.name">{{ referrer.name || 'Ingrese el nombre del referente' }}</a><br></br>
            <label><small>Apellido:</small></label><br>
			<a href="" editable-text="referrer.lastName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'highSchools')" ng-model="referrer.lastName">{{ referrer.lastName || 'Ingrese el apellido del referente' }}</a><br></br>
            <label><small>Cargo:</small></label><br>
			<a href="" editable-text="referrer.position" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'highSchools')" ng-model="referrer.position">{{ referrer.position || 'Ingrese el cargo del referente' }}</a><br></br>
            <label><small>Número de teléfono:</small></label><br>
			<a href="" editable-text="referrer.phoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="updateCollection('education', 'highSchools')" ng-model="referrer.phoneNumber">{{ referrer.phoneNumber || 'Ingrese el teléfono del referente' }}</a><br></br>
            <label><small>Email:</small></label><br>
			<a href="" editable-text="referrer.email" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('education', 'highSchools')" ng-model="referrer.email">{{ referrer.email || 'Ingrese el email del referente' }}</a><br>
        </div>
        </br>
        <button class="btn btn-primary btn-restriction" ng-click="addToSubcollection('education','highSchools','referrers',$index)">
            <span class="glyphicon glyphicon-plus"></span> Agregar referente
        </button>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('education','highSchools')" ng-disabled="aided.education.highSchoolStatus == 'Nunca iniciado'">
        <span class="glyphicon glyphicon-plus"></span> Agregar escuela
    </button>
    </br></br>
    <label>Terciario</label></br><br>
	<label><small>Indique el nivel de completitud:</small></label><br>
    <a href="#" editable-select="aided.education.communityCollegeStatus" ng-model="aided.education.communityCollegeStatus" e-ng-options="s for s in aidedData.education.completion" onaftersave="update(['({education: {communityCollegeStatus: %data% }})', $data])">
		{{aided.education.communityCollegeStatus || 'Indique el nivel de completitud' }}
	</a><br></br>
    <div ng-repeat="communityCollege in aided.education.communityColleges" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('education','communityColleges',$index)">&times;</span>
		<label><small>Nombre del instituto terciario:</small></label><br>	
		<a href="" editable-text="communityCollege.schoolName" onbeforesave="validate($data, '^[A-Z|0-9|a-z|á-ú|ä-ü|°\.\'\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras.')" onaftersave="updateCollection('education', 'communityColleges')" ng-model="communityCollege.schoolName">{{ communityCollege.schoolName || 'Ingrese el nombre de la institución' }}</a><br></br>
        <label><small>Dirección:</small></label><br>
		<a href="" editable-text="communityCollege.address" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|0-9|\\-\°\.\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('education', 'communityColleges')" ng-model="communityCollege.address">{{ communityCollege.address || 'Ingrese la dirección de la institución' }}</a><br></br>        
		<label><small>Desde:</small></label><br>
		<a href="#" editable-bsdate="communityCollege.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'communityColleges')">
			{{ (communityCollege.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <label><small>Hasta:</small></label><br>
		<a href="#" editable-bsdate="communityCollege.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'communityColleges')">
			{{ (communityCollege.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
		</a><br></br>
        </br>
        <div ng-repeat="referrer in aided.education.communityColleges[$index].referrers" class="form-group list-group-item">
            <span class="close" ng-click="clearFromSubcollection('education','communityColleges','referrers',$parent.$index, $index)">&times;</span>
            <label><small>Nombre:</small></label><br>
			<a href="" editable-text="referrer.name" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'communityColleges')" ng-model="referrer.name">{{ referrer.name || 'Ingrese el nombre del referente' }}</a><br></br>
            <label><small>Apellido:</small></label><br>
			<a href="" editable-text="referrer.lastName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'communityColleges')" ng-model="referrer.lastName">{{ referrer.lastName || 'Ingrese el apellido del referente' }}</a><br></br>
            <label><small>Cargo:</small></label><br>
			<a href="" editable-text="referrer.position" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'communityColleges')" ng-model="referrer.position">{{ referrer.position || 'Ingrese el cargo del referente' }}</a><br></br>
            <label><small>Número de teléfono:</small></label><br>
			<a href="" editable-text="referrer.phoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="updateCollection('education', 'communityColleges')" ng-model="referrer.phoneNumber">{{ referrer.phoneNumber || 'Ingrese el teléfono del referente' }}</a><br></br>
            <label><small>Email:</small></label><br>
			<a href="" editable-text="referrer.email" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('education', 'communityColleges')" ng-model="referrer.email">{{ referrer.email || 'Ingrese el email del referente' }}</a><br>
        </div>
        </br>
        <button class="btn btn-primary btn-restriction" ng-click="addToSubcollection('education','communityColleges','referrers',$index)">
            <span class="glyphicon glyphicon-plus"></span> Agregar referente
        </button>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('education','communityColleges')" ng-disabled="aided.education.communityCollegeStatus == 'Nunca iniciado'">
        <span class="glyphicon glyphicon-plus"></span> Agregar instituto
    </button>
    </br></br>
    <label>Universitario</label></br>
    <label><small>Indique el nivel de completitud:</small></label><br>
    <a href="#" editable-select="aided.education.collegeStatus" ng-model="aided.education.collegeStatus" e-ng-options="s for s in aidedData.education.completion" onaftersave="update(['({education: {collegeStatus: %data% }})', $data])">
		{{aided.education.collegeStatus || 'Indique el nivel de completitud' }}
	</a><br></br>
    <div ng-repeat="college in aided.education.colleges" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('education','colleges',$index)">&times;</span>
		<label><small>Nombre de la escuela:</small></label><br>	
		<a href="" editable-text="college.schoolName" onbeforesave="validate($data, '^[A-Z|0-9|a-z|á-ú|ä-ü|°\.\'\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras.')" onaftersave="updateCollection('education', 'colleges')" ng-model="college.schoolName">{{ college.schoolName || 'Ingrese el nombre de la institución' }}</a><br></br>
        <label><small>Dirección:</small></label><br>
		<a href="" editable-text="college.address" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|0-9|\\-\°\.\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('education', 'colleges')" ng-model="college.address">{{ college.address || 'Ingrese la dirección de la institución' }}</a><br></br>        
		<label><small>Desde:</small></label><br>
		<a href="#" editable-bsdate="college.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'colleges')">
			{{ (college.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <label><small>Hasta:</small></label><br>
		<a href="#" editable-bsdate="college.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'colleges')">
			{{ (college.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
		</a><br></br>
        </br>
        <div ng-repeat="referrer in aided.education.colleges[$index].referrers" class="form-group list-group-item">
            <span class="close" ng-click="clearFromSubcollection('education','colleges','referrers',$parent.$index, $index)">&times;</span>
            <label><small>Nombre:</small></label><br>
			<a href="" editable-text="referrer.name" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'colleges')" ng-model="referrer.name">{{ referrer.name || 'Ingrese el nombre del referente' }}</a><br></br>
            <label><small>Apellido:</small></label><br>
			<a href="" editable-text="referrer.lastName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'colleges')" ng-model="referrer.lastName">{{ referrer.lastName || 'Ingrese el apellido del referente' }}</a><br></br>
            <label><small>Cargo:</small></label><br>
			<a href="" editable-text="referrer.position" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'colleges')" ng-model="referrer.position">{{ referrer.position || 'Ingrese el cargo del referente' }}</a><br></br>
            <label><small>Número de teléfono:</small></label><br>
			<a href="" editable-text="referrer.phoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="updateCollection('education', 'colleges')" ng-model="referrer.phoneNumber">{{ referrer.phoneNumber || 'Ingrese el teléfono del referente' }}</a><br></br>
            <label><small>Email:</small></label><br>
			<a href="" editable-text="referrer.email" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('education', 'colleges')" ng-model="referrer.email">{{ referrer.email || 'Ingrese el email del referente' }}</a><br>
        </div>
        </br>
        <button class="btn btn-primary btn-restriction" ng-click="addToSubcollection('education','colleges','referrers',$index)">
            <span class="glyphicon glyphicon-plus"></span> Agregar referente
        </button>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('education','colleges')" ng-disabled="aided.education.collegeStatus == 'Nunca iniciado'">
        <span class="glyphicon glyphicon-plus"></span> Agregar universidad
    </button>
    </br></br>
    <label>¿Ha realizado o se encuentra realizando Cursos de Capacitación?</label><br>
    <a href="#" editable-select="aided.education.takingTrainingCourses" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.education.takingTrainingCourses" onaftersave="update(['({education: {takingTrainingCourses: %data% }})', $data])" e-ng-disabled="aided.education.courses.length > 0">
		{{(yesNoOptions | filter:{value: aided.education.takingTrainingCourses})[0].text || 'Indique si está realizando cursos de capacitación'}}
	</a><br></br>
    <div ng-repeat="trainingCourse in aided.education.courses" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('education','courses',$index)">&times;</span>
        <label><small>Nombre del Curso:</small></label><br>
		<a href="" editable-text="trainingCourse.name" onbeforesave="validate($data, '^[A-Z|0-9|a-z|á-ú|ä-ü|°\.\'\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras.')" onaftersave="updateCollection('education', 'courses')" ng-model="trainingCourse.name">{{ trainingCourse.name || 'Ingrese el nombre del curso' }}</a><br></br>
        <label><small>Nombre de la institución:</small></label><br>
		<a href="" editable-text="trainingCourse.institutionName" onbeforesave="validate($data, '^[A-Z|0-9|a-z|á-ú|ä-ü|°\.\'\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'courses')" ng-model="trainingCourse.institutionName">{{ trainingCourse.institutionName || 'Ingrese el nombre de la institución' }}</a><br></br>
        <label><small>Facultad, departamento o área académica:</small></label><br>
		<a href="" editable-text="trainingCourse.academicArea" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'courses')" ng-model="trainingCourse.academicArea">{{ trainingCourse.academicArea || 'Ingrese el nombre del área' }}</a><br></br>
        <label><small>Dirección:</small></label><br>
		<a href="" editable-text="trainingCourse.address" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|0-9|\\-\°\.\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('education', 'courses')" ng-model="trainingCourse.address">{{ trainingCourse.address || 'Ingrese la dirección' }}</a><br></br>
        <label><small>Desde:</small></label><br>
		<a href="#" editable-bsdate="trainingCourse.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'trainingCourses')">
			{{ (trainingCourse.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <label><small>Hasta:</small></label><br>
		<a href="#" editable-bsdate="trainingCourse.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('education', 'trainingCourses')">
			{{ (trainingCourse.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
		</a><br></br>
        <label><small>Estado:</small></label><br>
        <a href="#" editable-select="trainingCourse.state" ng-model="trainingCourse.state" e-ng-options="s for s in aidedData.education.completion" onaftersave="updateCollection('education', 'courses')">
			{{ trainingCourse.state || 'Indique el nivel de completitud' }}
		</a><br></br>
        <label><small>Asignación estímulo económico:</small></label><br>
		<a href="#" editable-select="trainingCourse.hasGrant" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="trainingCourse.hasGrant" onaftersave="updateCollection('education', 'courses')">
			{{(yesNoOptions | filter:{value: trainingCourse.hasGrant})[0].text || 'Indique si tiene asignación'}}
		</a><br></br>
        <div ng-show="trainingCourse.hasGrant">
		    <label><small>Importe:</small></label><br>
			<a href="" editable-text="trainingCourse.grantAmount" onbeforesave="validate($data, '^[0-9|\\s|+-]{1,5}$', 'El número de teléfono debe tener entre 1 y 5 caracteres.')" onaftersave="updateCollection('education', 'courses')" ng-model="trainingCourse.grantAmount">
				{{ trainingCourse.grantAmount || 'Ingrese el monto de la asignación' }}
			</a><br></br>
		</div>
        <label><small>Entrega de insumos:</small></label><br>
		<a href="#" editable-select="trainingCourse.materials" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="trainingCourse.materials" onaftersave="updateCollection('education', 'courses')">
			{{(yesNoOptions | filter:{value: trainingCourse.materials})[0].text || 'Indique si incluye insumos'}}
		</a><br></br>
        <label><small>Curso con salida laboral:</small></label><br>
		<a href="#" editable-select="trainingCourse.laborOutput" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="trainingCourse.laborOutput" onaftersave="updateCollection('education', 'courses')">
			{{(yesNoOptions | filter:{value: trainingCourse.laborOutput})[0].text || 'Indique si tiene salida laboral'}}
		</a><br></br>
        <label><small>Título obtenido:</small></label><br>
		<a href="" editable-text="trainingCourse.title" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|ä-ü|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('education', 'courses')" ng-model="trainingCourse.title">{{ trainingCourse.title || 'Indique el título obtenido en el curso' }}</a><br></br>
        <label><small>Actualmente se encuentra trabajando?:</small></label><br>
		<a href="#" editable-select="trainingCourse.working" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="trainingCourse.working" onaftersave="updateCollection('education', 'courses')">
			{{(yesNoOptions | filter:{value: trainingCourse.working})[0].text || 'Indique si se encuentra trabajando'}}
		</a><br></br>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('education','courses')" ng-disabled="!aided.education.takingTrainingCourses">
        <span class="glyphicon glyphicon-plus"></span> Agregar curso de capacitación
    </button>
    </br></br>
</div>
