<div id="nationality-group-create" class="form-group">
    <br>
    <label>Personas con las cuales convive:</label><br>
    <div ng-repeat="cohabitant in aided.family.cohabitants" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('family', 'cohabitants', $index)">&times;</span>
        <label><small>Nombre:</small></label><br>
		<a href="" editable-text="cohabitant.name" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('family','cohabitants')" ng-model="cohabitant.name">{{ cohabitant.name || 'Ingrese el nombre del cohabitante' }}</a><br></br>
        <label><small>Apellido:</small></label><br>
		<a href="" editable-text="cohabitant.lastName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('family','cohabitants')" ng-model="cohabitant.lastName">{{ cohabitant.lastName || 'Ingrese el apellido del cohabitante' }}</a><br></br>
        <label><small>Relación:</small></label><br>
		<a href="#" editable-select="cohabitant.relation" ng-model="cohabitant.relation" e-ng-options="r for r in aidedData.family.relations" onaftersave="updateCollection('family','cohabitants')">
			{{ cohabitant.relation || 'Seleccione la relación con el cohabitante'}}
		</a>
    </div>
    <br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('family', 'cohabitants')">
        <span class="glyphicon glyphicon-plus"></span> Agregar cohabitante
    </button>
    <br></br>
    <label>¿La MADRE del asistido vive?:</label><br>
    <a href="#" editable-select="aided.family.motherAlive" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.family.motherAlive" onaftersave="update(['({family: {motherAlive: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.family.motherAlive})[0].text || 'Indique si la madre vive'}}
	</a><br></br>
	<div ng-show="aided.family.motherAlive">
		<div class="form-group">
		    <label>MADRE (Nombre y Apellido):</label><br>
			<a href="" editable-text="aided.family.motherName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({family: {motherName: %data% }})', $data])" ng-model="aided.family.motherName">{{ aided.family.motherName || 'Ingrese el nombre de la madre' }}</a><br></br>
		</div>
		
		<label>¿Sigue en contacto con su MADRE?:</label><br>
		<a href="#" editable-select="aided.family.motherInContact" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.family.motherInContact" onaftersave="update(['({family: {motherInContact: %data% }})', $data])">
			{{(yesNoOptions | filter:{value: aided.family.motherInContact})[0].text || 'Indique si sigue en contacto con la madre'}}
		</a><br></br>
		<div class="form-group" ng-show="aided.family.motherInContact">
		    <label>Contacto:</label><br>
		    <label><small>Indicar contacto telefónico de su madre.</small></label><br>
			<a href="" editable-text="aided.family.motherContact" onbeforesave="validate($data, '^[0-9|+-|\\s]{5,20}$', 'El número debe tener entre 5 y 20 dígitos.')" onaftersave="update(['({family: {motherContact: %data% }})', $data])" ng-model="aided.family.motherContact">{{ aided.family.motherContact || 'Ingrese el contacto de la madre' }}</a><br></br>
		</div>
	</div>
	<label>¿El PADRE del asistido vive?:</label><br>
	<a href="#" editable-select="aided.family.fatherAlive" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.family.fatherAlive" onaftersave="update(['({family: {fatherAlive: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.family.fatherAlive})[0].text || 'Indique si el padre vive'}}
	</a><br></br>
	<div ng-show="aided.family.fatherAlive">
		<div class="form-group">
		    <label>PADRE (Nombre y Apellido):</label><br>
			<a href="" editable-text="aided.family.fatherName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({family: {fatherName: %data% }})', $data])" ng-model="aided.family.fatherName" e-ng-disabled="!aided.family.fatherAlive">{{ aided.family.fatherName || 'Ingrese el nombre del padre' }}</a><br></br>
		</div>
		<label>¿Sigue en contacto con su PADRE?:</label><br>
		<a href="#" editable-select="aided.family.fatherInContact" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.family.fatherInContact" onaftersave="update(['({family: {fatherInContact: %data% }})', $data])" e-ng-disabled="!aided.family.fatherAlive">
			{{(yesNoOptions | filter:{value: aided.family.fatherInContact})[0].text || 'Indique si sigue en contacto con el padre'}}
		</a><br></br>
		<div class="form-group" ng-show="aided.family.fatherInContact">
		    <label>Contacto:</label><br>
		    <label><small>Indicar contacto telefónico de su padre.</small></label><br>
			<a href="" editable-text="aided.family.fatherContact" onbeforesave="validate($data, '^[0-9|+-|\\s]{5,20}$', 'El número debe tener entre 5 y 20 dígitos.')" onaftersave="update(['({family: {fatherContact: %data% }})', $data])" ng-model="aided.family.fatherContact" e-ng-disabled="!aided.family.fatherAlive">{{ aided.family.fatherContact || 'Ingrese el contacto del padre' }}</a><br></br>
		</div>
	</div>
    <label>Hijos:</label><br>
    <label><small>¿El Asistido tiene hijos?</small></label><br>
	<a href="#" editable-select="aided.family.hasChildren" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.family.hasChildren" onaftersave="update(['({family: {hasChildren: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.family.hasChildren})[0].text || 'Indique si el asistido tiene hijos'}}
	</a><br></br>
    <div ng-repeat="child in aided.family.children" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('family', 'children', $index)">&times;</span>
        <label><small>Nombre:</small></label><br>
		<a href="" editable-text="child.name" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('family','children')" ng-model="child.name">
			{{ child.name || 'Ingrese el nombre del hijo' }}
		</a><br></br>
        <label><small>Apellido:</small></label><br>
		<a href="" editable-text="child.lastName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('family','children')" ng-model="child.lastName">
			{{ child.lastName || 'Ingrese el apellido del hijo' }}
		</a><br></br>
        <label><small>Edad:</small></label><br>
		<a href="" editable-text="child.age" onbeforesave="validate($data, '^[0-9]{1,2}$', 'La edad debe ser un número de 1 ó 2 cifras.')" onaftersave="updateCollection('family','children')" ng-model="child.age">
			{{ child.age || 'Ingrese la edad del hijo' }}
		</a><br></br>
        <label><small>¿Sigue en contacto?</small></label><br>
        <a href="#" editable-select="child.inContact" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="child.inContact" onaftersave="updateCollection('family','children')">
			{{(yesNoOptions | filter:{value: child.inContact})[0].text || 'Indique si sigue en contacto con el hijo'}}
		</a><br></br>
        <label><small>Contacto:</small></label><br>
		<a href="" editable-text="child.contact" onbeforesave="validate($data, '^[0-9|+-|\\s]{5,20}$', 'El número debe tener entre 5 y 20 dígitos.')" onaftersave="updateCollection('family','children')" ng-model="child.contact">
			{{ child.contact || 'Ingrese el contacto telefónico del hijo' }}
		</a><br></br>
    </div>
    <br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('family', 'children')" ng-show="aided.family.hasChildren">
        <span class="glyphicon glyphicon-plus"></span> Agregar hijo
    </button>
</div>
