<div id="nationality-group-create" class="form-group">
    </br>
    <label>Profesión / Oficio:</label></br>
    <label><small>Indicar cuáles son las profesiones u oficios del Asistido.</small></label>
    <div ng-repeat="aTrade in aided.job.trades" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('job','trades',$index)">&times;</span>
        <label><small>Nombre de la profesión u oficio:</small></label><br>
		<a href="#" editable-select="aTrade.name" ng-model="aTrade.name" e-ng-options="p for p in aidedData.job.professionsAndTrades" onaftersave="updateCollection('job','trades')">
			{{aTrade.name || 'Seleccione una profesión u oficio' }}
		</a>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('job','trades')">
        <span class="glyphicon glyphicon-plus"></span> Agregar oficio
    </button>
    </br></br>
    <label>Experiencia laboral</label></br>
    <label><small>¿El asistido actualmente trabaja?</small></label><br>
    <a href="#" editable-select="aided.job.working" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.job.working" onaftersave="update(['({job: {working: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.job.working})[0].text || 'Indique si trabaja'}}
	</a><br></br>
    <div ng-repeat="job in aided.job.jobs" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('job','jobs',$index)">&times;</span>
        <label><small>Nombre de la empresa o empleador:</small></label><br>
		<a href="" editable-text="job.employerName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('job', 'jobs')" ng-model="job.employerName">{{ job.employerName || 'Ingrese el nombre del empleador' }}</a><br></br>
        <label><small>Dirección:</small></label><br>
		<a href="" editable-text="job.address" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'la dirección debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('job', 'jobs')" ng-model="job.address">{{ job.address || 'Ingrese la dirección' }}</a><br></br>
        <label><small>Cargo:</small></label><br>
		<a href="" editable-text="job.position" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('job', 'jobs')" ng-model="job.position">{{ job.position || 'Ingrese el cargo' }}</a><br></br>
        <label><small>Descripcion:</small></label><br>
		<a href="#" editable-textarea="job.description" e-rows="4" e-cols="50" ng-model="job.description" onaftersave="updateCollection('job', 'jobs')">
			<pre>{{job.description || 'Ingrese la descripción'}}</pre>
		</a><br>
        <label><small>Desde:</small></label><br>
		<a href="#" editable-bsdate="job.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('job', 'jobs')">
			{{ (job.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <label><small>Hasta:</small></label><br>
        <a href="#" editable-bsdate="job.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('job', 'jobs')">
			{{ (job.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
		</a><br></br>
        </br>
        <div ng-repeat="reference in aided.job.jobs[$index].references" class="form-group list-group-item">
            <span class="close" ng-click="clearFromSubcollection('job','jobs','references',$parent.$index, $index)">&times;</span>
            <label><small>Nombre:</small></label><br>
			<a href="" editable-text="reference.name" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('job', 'jobs')" ng-model="reference.name">{{ reference.name || 'Ingrese el nombre del referente' }}</a><br></br>
            <label><small>Apellido:</small></label><br>
			<a href="" editable-text="reference.lastName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('job', 'jobs')" ng-model="reference.lastName">{{ reference.lastName || 'Ingrese el apellido del referente' }}</a><br></br>
            <label><small>Empresa o particular:</small></label><br>
            <a href="#" editable-select="reference.independent" e-ng-options="type.value as type.text for type in jobTypes" ng-model="reference.independent" onaftersave="updateCollection('job', 'jobs')">
				{{(jobTypes | filter:{value: reference.independent})[0].text || 'Indique el tipo de relación laboral'}}
			</a><br></br>
            <label><small>Cargo:</small></label><br>
			<a href="" editable-text="reference.position" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El cargo debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('job', 'jobs')" ng-model="reference.position">{{ reference.position || 'Ingrese el cargo' }}</a><br></br>
            <label><small>Número de teléfono:</small></label><br>
			<a href="" editable-text="reference.phoneNumber" onbeforesave="validate($data, '^[0-9|+-|\\s]{5,20}$', 'El número debe tener entre 5 y 20 dígitos.')" onaftersave="updateCollection('job', 'jobs')" ng-model="reference.phoneNumber">{{ reference.phoneNumber || 'Ingrese el número de teléfono' }}</a><br></br>
            <label><small>Email:</small></label><br>
			<a href="" editable-text="reference.email" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('job', 'jobs')" ng-model="reference.email">{{ reference.email || 'Ingrese un email válido' }}</a>
        </div>
        </br>
        <button class="btn btn-primary btn-restriction" ng-click="addToSubcollection('job','jobs','references',$index)">
            <span class="glyphicon glyphicon-plus"></span> Agregar referente
        </button>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('job','jobs')">
        <span class="glyphicon glyphicon-plus"></span> Agregar trabajo
    </button>
</div>
