<div id="nationality-group-create" class="form-group">
    <br>
    <label>Antecedentes penales:</label><br>
    <label><small>¿El Asistido posee antecedentes penales?</small></label><br>
	<a href="#" editable-select="aided.legal.hasPoliceRecord" ng-model="aided.legal.hasPoliceRecord" e-ng-options="a for a in ['Sí', 'No', 'Se desconoce']" onaftersave="update(['({legal: {hasPoliceRecord: %data% }})', $data])">
		{{aided.legal.hasPoliceRecord || 'Indique si tiene antecedentes penales' }}
	</a><br></br>
	<div ng-show="aided.legal.hasPoliceRecord == 'Sí'">
		<label>Rama del derecho involucrada</label><br>
		<a href="#" editable-select="aided.legal.branchOfLaw" ng-model="aided.legal.branchOfLaw" e-ng-options="b for b in aidedData.legal.branchesOfLaw" onaftersave="update(['({legal: {branchOfLaw: %data% }})', $data])">
			{{aided.legal.branchOfLaw || 'Indique la rama del derecho involucrada' }}
		</a><br></br>
		<label>Resumen del caso:</label><br>
		<a href="#" editable-textarea="aided.legal.policeRecordDetails" e-rows="4" e-cols="50" ng-model="aided.legal.policeRecordDetails" onaftersave="update(['({legal: {policeRecordDetails: %data% }})', $data])">
			<pre>{{aided.legal.policeRecordDetails || 'Ingrese los detalles del caso'}}</pre>
		</a><br>
		<label>Datos del juicio:</label><br>
		<a href="#" editable-textarea="aided.legal.trialDetails" e-rows="4" e-cols="50" ng-model="aided.legal.trialDetails" onaftersave="update(['({legal: {trialDetails: %data% }})', $data])">
			<pre>{{aided.legal.trialDetails || 'Ingrese los detalles del juicio'}}</pre>
		</a><br>
		<label>¿Interviene o intervino algún abogado representando al asistido?:</label><br>
		<a href="#" editable-select="aided.legal.represented" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.legal.represented" onaftersave="update(['({legal: {represented: %data% }})', $data])">
			{{(yesNoOptions | filter:{value: aided.legal.represented})[0].text || 'Indique si intervino algún abogado'}}
		</a><br></br>
		<div ng-show="aided.legal.represented">
			<label>Indicar datos del mismo:</label><br>
			<a href="#" editable-textarea="aided.legal.lawyerDetails" e-rows="4" e-cols="50" ng-model="aided.legal.lawyerDetails" onaftersave="update(['({legal: {lawyerDetails: %data% }})', $data])">
				<pre>{{aided.legal.lawyerDetails || 'Ingrese los detalles del abogado'}}</pre>
			</a><br>
		</div>
		<label>Estado del trámite:</label><br>
		<a href="#" editable-textarea="aided.legal.status" e-rows="4" e-cols="50" ng-model="aided.legal.status" onaftersave="update(['({legal: {status: %data% }})', $data])">
			<pre>{{aided.legal.status || 'Ingrese el estado del trámite'}}</pre>
		</a><br>
		<label>Recomendación brindada por el posadero:</label><br>
		<a href="#" editable-textarea="aided.legal.recommendation" e-rows="4" e-cols="50" ng-model="aided.legal.recommendation" onaftersave="update(['({legal: {recommendation: %data% }})', $data])">
			<pre>{{aided.legal.recommendation || 'Ingrese la recomendación del posadero'}}</pre>
		</a><br>
	</div>
</div>
