<div id="nationality-group-create" class="form-group">
    </br>
    <label>¿El paciente presenta patologías de salud mental?</label><br>
    <a href="#" editable-select="aided.mental.mentalState" ng-model="aided.mental.mentalState" e-ng-options="state for state in aidedData.mental.states" onaftersave="update(['({mental: {mentalState: %data% }})', $data])">
		{{aided.mental.mentalState || 'Seleccione un estado mental'}}
	</a><br></br>
    <div ng-show="aided.mental.mentalState != aidedData.mental.states[0]">
      <label>Signos observables: </label>
      <div class="list-group">
          <a href="#" editable-checklist="aided.mental.observableSymptoms" e-ng-options="sign for sign in aidedData.mental.signs" onaftersave="updateCollection('mental', 'observableSymptoms')">
              {{ showChecklist(aided.mental.observableSymptoms) || 'Ingrese los síntomas observables' }}
          </a>
      </div>
    </div>
    <label>Patologías:</label>
    <div ng-repeat="disorder in aided.mental.disorders" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('mental','disorders',$index)">&times;</span>
        <label><small>Enfermedad:</small></label><br>
		<a href="#" editable-select="disorder.name" ng-model="disorder.name" e-ng-options="disorder for disorder in aidedData.mental.disorders" onaftersave="updateCollection('mental', 'disorders')">
			{{disorder.name || 'Seleccione la enfermedad'}}
		</a><br></br>        
        <label><small>Detalles:</small></label><br>
		<a href="#" editable-textarea="disorder.details" e-rows="4" e-cols="50" ng-model="disorder.details" onaftersave="updateCollection('mental', 'disorders')">
			<pre>{{disorder.details || 'Ingrese los detalles de la enfermedad'}}</pre>
		</a>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('mental','disorders')">
        <span class="glyphicon glyphicon-plus"></span> Agregar patología
    </button>
    <br></br>
    <label>Afección:</label><br>
	<a href="#" editable-select="aided.mental.conditionType" e-ng-options="type for type in aidedData.mental.conditionType" ng-model="aided.mental.conditionType" onaftersave="update(['({mental: {conditionType: %data% }})', $data])">
		{{aided.mental.conditionType || 'Ingrese el tipo de afección'}}
	</a><br>
    <br>
    <label>Al momento de la entrevista</label><br>
    <label><small>Se encuentra orientado alo-psíquicamente (tiempo y espacio):</small></label><br>
    <a href="#" editable-select="aided.mental.oriented" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.mental.oriented" onaftersave="update(['({mental: {oriented: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.mental.oriented})[0].text || 'Indique si se encuentra orientado'}}
	</a><br></br>
    <label><small>Presencia de signos/ síntomas de intoxicación:</small></label><br>
	<a href="#" editable-select="aided.mental.signsOfIntoxication" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.mental.signsOfIntoxication" onaftersave="update(['({mental: {signsOfIntoxication: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.mental.signsOfIntoxication})[0].text || 'Indique si se presenta signos de intoxicación'}}
	</a><br></br>
    <label><small>Su discurso es:</small></label><br>
	<a href="#" editable-select="aided.mental.speechType" e-ng-options="type for type in aidedData.mental.speechType" ng-model="aided.mental.speechType" onaftersave="update(['({mental: {speechType: %data% }})', $data])">
		{{aided.mental.speechType || 'Ingrese el tipo de discurso'}}
	</a><br></br>
    <label>Automedicación</label><br>
    <label><small>¿El paciente se automedica?</small></label><br>
	<a href="#" editable-select="aided.mental.selfMedicated" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.mental.selfMedicated" onaftersave="update(['({mental: {selfMedicated: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.mental.selfMedicated})[0].text || 'Indique si se automedica'}}
	</a><br></br>
    <div ng-repeat="medication in aided.mental.medications" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('mental','medications',$index)">&times;</span>
        <label><small>Fármaco:</small></label><br>
		<a href="" editable-text="medication.drug" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'El nombre del fármaco debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('mental', 'medications')" ng-model="medication.drug">{{ medication.drug || 'Ingrese el nombre de la droga' }}</a><br></br>
        <label><small>Dosis:</small></label><br>
		<a href="" editable-text="medication.dose" onbeforesave="validate($data, '^[0-9]{1,3}$', 'El número debe tener entre 1 y 3 cifras.')" onaftersave="updateCollection('mental', 'medications')" ng-model="medication.dose" >{{ medication.dose || 'Ingrese el valor de la dosis' }}</a><br></br>
        <label><small>Unidad:</small></label><br>
		<a href="#" editable-select="medication.doseUnit" ng-model="medication.doseUnit" e-ng-options="unit for unit in ['ug','mg','g']" onaftersave="updateCollection('mental', 'medications')">
			{{medication.doseUnit || 'Seleccione la unidad'}}
		</a><br></br>
        <label><small>Intervalo de administración (en horas):</small></label><br>
		<a href="" editable-text="medication.dosingInterval" onbeforesave="validate($data, '^[0-9]{1,3}$', 'El número debe tener entre 1 y 3 cifras.')" onaftersave="updateCollection('mental', 'medications')" ng-model="medication.dosingInterval" >{{ medication.dosingInterval || 'Ingrese el intervalo de la dosis' }}</a><br></br>
        <label><small>Forma de administración:</small></label><br>
		<a href="#" editable-select="medication.route" ng-model="medication.route" e-ng-options="route for route in aidedData.clinical.routes" onaftersave="updateCollection('mental', 'medications')">
			{{medication.route || 'Seleccione la forma de administración'}}
		</a><br></br>
        <label><small>Desde:</small></label><br>
		<a href="#" editable-bsdate="medication.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('mental', 'medications')">
			{{ (medication.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <div ng-show="medication.currentlyTaking == yesNoOptions[1].value">
          <label><small>Hasta:</small></label><br>
          <a href="#" editable-bsdate="medication.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('mental', 'medications')">
              {{ (medication.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
          </a><br></br>
        </div>
        <label><small>¿Toma la medicación actualmente?</small></label><br>
		<a href="#" editable-select="medication.currentlyTaking" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="medication.currentlyTaking" onaftersave="updateCollection('mental', 'medications')">
			{{(yesNoOptions | filter:{value: medication.currentlyTaking})[0].text || 'Indique si se automedica'}}
		</a>
    </div></br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('mental','medications')" ng-disabled="!aided.mental.selfMedicated">
        <span class="glyphicon glyphicon-plus"></span> Agregar medicación
    </button>
    </br></br>
    <label>Historial de tratamientos de salud mental</label>
    <div ng-repeat="treatment in aided.mental.treatments" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('mental','treatments',$index)">&times;</span>
        <label>Tipo de tratamiento:</label><br>
		<a href="#" editable-select="treatment.category" ng-model="treatment.category" e-ng-options="type for type in aidedData.mental.treatmentCategories" onaftersave="updateCollection('mental', 'treatments')">
			{{treatment.category || 'Seleccione el tipo de tratamiento'}}
		</a><br></br>
        <label>Desde:</label><br>
		<a href="#" editable-bsdate="treatment.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('mental', 'treatments')">
			{{ (treatment.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <div ng-show="!treatment.inProgress">
          <label>Hasta:</label><br>
          <a href="#" editable-bsdate="treatment.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('mental', 'treatments')">
              {{ (treatment.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
          </a><br></br>
        </div>
        <label>¿Este tratamiento continúa actualmente?</label><br>
		<a href="#" editable-select="treatment.inProgress" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="treatment.inProgress" onaftersave="updateCollection('mental', 'treatments')">
			{{(yesNoOptions | filter:{value: treatment.inProgress})[0].text || 'Indique si el tratamiento continúa en la actualidad'}}
		</a><br></br>
        <label>Estado:</label><br>
		<a href="#" editable-select="treatment.status" ng-model="treatment.status" e-ng-options="status for status in aidedData.mental.treatmentStatus" onaftersave="updateCollection('mental', 'treatments')">
			{{treatment.status || 'Seleccione el estado del tratamiento'}}
		</a><br></br>
        <div ng-show="treatment.status == aidedData.mental.treatmentStatus[3]">
          <label>Motivo por el cual interrumpió el tratamiento:</label><br>
          <a href="#" e-ng-disabled="(treatment.status == 'Cumple con el tratamiento')" editable-select="treatment.abandonmentReasons" ng-model="treatment.abandonmentReasons" e-ng-options="a for a in aidedData.mental.treatmentAbandonmentReasons" onaftersave="updateCollection('mental', 'treatments')">
              {{treatment.abandonmentReasons || 'Seleccione el motivo'}}
          </a><br></br>
        </div>
        <label>Lugar de tratamiento</label></br>
        <label><small>Hospital, Institución o comunidad terapéutica:</small></label><br>
		<a href="" editable-text="treatment.institutionName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('mental', 'treatments')" ng-model="treatment.institutionName">{{ treatment.institutionName || 'Ingrese el nombre de la institución' }}</a><br></br>
        <label><small>Dirección:</small></label><br>
		<a href="" editable-text="treatment.institutionAddress" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('mental', 'treatments')" ng-model="treatment.institutionAddress">{{ treatment.institutionAddress || 'Ingrese la dirección de la institución' }}</a><br></br>
        <label><small>Número de teléfono:</small></label><br>
		<a href="" editable-text="treatment.institutionPhoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="updateCollection('mental', 'treatments')" ng-model="treatment.institutionPhoneNumber">{{ treatment.institutionPhoneNumber || 'Ingrese el teléfono de la institución' }}</a><br></br>
        <label><small>Email:</small></label><br>
		<a href="" editable-text="treatment.institutionEmail" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('mental', 'treatments')" ng-model="treatment.institutionEmail">{{ treatment.institutionEmail || 'Ingrese el email de la institución' }}</a><br></br>
        <label>Particular</label></br>
        <label><small>Nombre y apellido del médico:</small></label><br>
		<a href="" editable-text="treatment.doctorName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('mental', 'treatments')" ng-model="treatment.doctorName">{{ treatment.doctorName || 'Ingrese el nombre completo del médico' }}</a><br></br>
        <label><small>Número de teléfono:</small></label><br>
		<a href="" editable-text="treatment.doctorPhoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="updateCollection('mental', 'treatments')" ng-model="treatment.doctorPhoneNumber">{{ treatment.doctorPhoneNumber || 'Ingrese el teléfono del médico' }}</a><br></br>
        <label><small>Email:</small></label><br>
		<a href="" editable-text="treatment.doctorEmail" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('mental', 'treatments')" ng-model="treatment.doctorEmail">{{ treatment.doctorEmail || 'Ingrese el email del médico' }}</a><br>
		<br>
        <label>Medicación:</label>
        <div ng-repeat="medicalPrescription in aided.mental.treatments[$index].medicalPrescriptions" class="form-group list-group-item">
            <span class="close" ng-click="clearFromSubcollection('mental','treatments','medicalPrescriptions',$parent.$index, $index)">&times;</span>
            <label><small>Nombre del médico:</small></label><br>
			<a href="" editable-text="medicalPrescription.issuerName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('mental', 'treatments')" ng-model="medicalPrescription.issuerName">{{ medicalPrescription.issuerName || 'Ingrese el nombre completo' }}</a><br></br>
            <label><small>Fármaco:</small></label><br>
			<a href="" editable-text="medicalPrescription.drug" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,20}$', 'El nombre debe tener entre 3 y 20 caracteres.')" onaftersave="updateCollection('mental', 'treatments')" ng-model="medicalPrescription.drug">{{ medicalPrescription.drug || 'Ingrese el nombre del fármaco' }}</a><br></br>
            <label><small>Dosis:</small></label><br>
			<a href="" editable-text="medicalPrescription.dose" onbeforesave="validate($data, '^[0-9]{1,3}$', 'El número debe tener entre 1 y 3 cifras.')" onaftersave="updateCollection('mental', 'treatments')" ng-model="medicalPrescription.dose" >{{ medicalPrescription.dose || 'Ingrese el valor de la dosis' }}</a><br></br>
            <label><small>Unidad:</small></label><br>
			<a href="#" editable-select="medicalPrescription.doseUnit" ng-model="medicalPrescription.doseUnit" e-ng-options="unit for unit in ['ug','mg','g']" onaftersave="updateCollection('mental', 'treatments')">
				{{medicalPrescription.doseUnit || 'Seleccione la unidad'}}
			</a><br></br>
			<label><small>Intervalo de administración (en horas):</small></label><br>
			<a href="" editable-text="medicalPrescription.dosingInterval" onbeforesave="validate($data, '^[0-9]{1,3}$', 'El número debe tener entre 1 y 3 cifras.')" onaftersave="updateCollection('mental', 'treatments')" ng-model="medicalPrescription.dosingInterval" >{{ medicalPrescription.dosingInterval || 'Ingrese el intervalo de la dosis' }}</a><br></br>
			<label><small>Forma de administración:</small></label><br>
			<a href="#" editable-select="medicalPrescription.route" ng-model="medicalPrescription.route" e-ng-options="route for route in aidedData.clinical.routes" onaftersave="updateCollection('mental', 'treatments')">
				{{medicalPrescription.route || 'Seleccione la forma de administración'}}
			</a><br></br>
			<label><small>Desde:</small></label><br>
			<a href="#" editable-bsdate="medicalPrescription.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('mental', 'treatments')">
				{{ (medicalPrescription.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
			</a><br></br>
            <div ng-show="!medicalPrescription.currentlyTaking">
              <label><small>Hasta:</small></label><br>
              <a href="#" editable-bsdate="medicalPrescription.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('mental', 'treatments')">
                  {{ (medicalPrescription.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
              </a><br></br>
            </div>
		    <label><small>¿Toma la medicación actualmente?</small></label><br>
			<a href="#" editable-select="medicalPrescription.currentlyTaking" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="medicalPrescription.currentlyTaking" onaftersave="updateCollection('mental', 'treatments')">
				{{(yesNoOptions | filter:{value: medicalPrescription.currentlyTaking})[0].text || 'Indique si se automedica'}}
			</a>
        </div>
        </br>
        <button class="btn btn-primary btn-restriction" ng-click="addToSubcollection('mental','treatments','medicalPrescriptions',$index)">
            <span class="glyphicon glyphicon-plus"></span> Agregar receta
        </button>
        </br></br>
        <label>Profesionales a cargo del tratamiento</label></br>
        <div ng-repeat="professional in aided.mental.treatments[$index].professionals" class="form-group list-group-item">
            <span class="close" ng-click="clearFromSubcollection('mental','treatments','professionals',$parent.$index, $index)">&times;</span>
            <label><small>Nombre y apellido:</small></label><br>
			<a href="" editable-text="professional.name" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('mental', 'treatments')" ng-model="professional.name">{{ professional.name || 'Ingrese el nombre completo' }}</a><br></br>
            <label><small>Profesión:</small></label><br>
			<a href="#" editable-select="professional.profession" ng-model="professional.profession" e-ng-options="p for p in aidedData.job.professionsAndTrades" onaftersave="updateCollection('mental', 'treatments')">
				{{professional.profession || 'Seleccione la profesión'}}
			</a><br></br>
            <label><small>Cargo:</small></label><br>
			<a href="" editable-text="professional.position" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('mental', 'treatments')" ng-model="professional.position">{{ professional.position || 'Ingrese el cargo' }}</a><br></br>
        </div></br>
        <button class="btn btn-primary btn-restriction" ng-click="addToSubcollection('mental','treatments','professionals',$index)">
            <span class="glyphicon glyphicon-plus"></span> Agregar profesional
        </button>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('mental','treatments')">
        <span class="glyphicon glyphicon-plus"></span> Agregar tratamiento
    </button>
    </br></br>
    <label>¿Episodios agresivos?</label></br>
    <div ng-repeat="episode in aided.mental.episodesOfAggression" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('mental','episodesOfAggression',$index)">&times;</span>
        <label><small>Objetivo:</small></label><br>
		<a href="#" editable-select="episode.target" ng-model="episode.target" e-ng-options="t for t in ['Su persona', 'Otra persona']" onaftersave="updateCollection('mental', 'episodesOfAggression')">
			{{episode.target || 'Seleccione el objetivo'}}
		</a><br></br>
        <label><small>Tipo de agresión:</small></label><br>
		<a href="#" editable-select="episode.category" ng-model="episode.category" e-ng-options="c for c in aidedData.aggressionCategories" onaftersave="updateCollection('mental', 'episodesOfAggression')">
			{{episode.category || 'Seleccione la categoría'}}
		</a><br></br>
        <label><small>Fecha:</small></label><br>
		<a href="#" editable-bsdate="episode.date" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('mental', 'episodesOfAggression')">
			{{ (episode.date | date:"yyyy-MM-dd") || 'Ingrese la fecha' }}
		</a><br></br>
        <label><small>Lugar:</small></label><br>
		<a href="" editable-text="episode.place" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'El nombre debe tener entre 3 y 20 caracteres.')" onaftersave="updateCollection('mental', 'episodesOfAggression')" ng-model="episode.place" >{{ episode.place || 'Ingrese el lugar' }}</a>
    </div></br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('mental','episodesOfAggression')">
        <span class="glyphicon glyphicon-plus"></span> Agregar episodio
    </button>
    </br></br>
    <label>¿Se necesita derivar al paciente a un Hospital o Centro de Salud?</label><br>
	<a href="#" editable-select="aided.mental.needsDerivation" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.mental.needsDerivation" onaftersave="update(['({mental: {needsDerivation: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.mental.needsDerivation})[0].text || 'Indique si hay que derivar'}}
	</a><br></br>
    <label>¿Necesita internación?</label><br>
	<a href="#" editable-select="aided.mental.needsInstitutionalization" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.mental.needsInstitutionalization" onaftersave="update(['({mental: {needsInstitutionalization: %data% }})', $data])">
		{{(yesNoOptions | filter:{value: aided.mental.needsInstitutionalization})[0].text || 'Indique si hay que internar'}}
	</a><br></br>
	<div ng-show="aided.mental.needsInstitutionalization">
		<label>Institución donde se buscará internación</label></br>
		<a href="" editable-text="aided.mental.institutionName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({mental: {institutionName: %data% }})', $data])" ng-model="aided.mental.institutionName">{{ aided.mental.institutionName || 'Ingrese el nombre de la institución' }}</a><br></br>
		<label><small>Dirección:</small></label><br>
		<a href="" editable-text="aided.mental.institutionAddress" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="update(['({mental: {institutionAddress: %data% }})', $data])" ng-model="aided.mental.institutionAddress">{{ aided.mental.institutionAddress || 'Ingrese la dirección de la institución' }}</a><br></br>
		<label><small>Número de teléfono:</small></label><br>
		<a href="" editable-text="aided.mental.institutionPhoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="update(['({mental: {institutionPhoneNumber: %data% }})', $data])" ng-model="aided.mental.institutionPhoneNumber">{{ aided.mental.institutionPhoneNumber || 'Ingrese el teléfono de la institución' }}</a><br></br>
		<label><small>Email:</small></label><br>
		<a href="" editable-text="aided.mental.institutionEmail" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="update(['({mental: {institutionEmail: %data% }})', $data])" ng-model="aided.mental.institutionEmail">{{ aided.mental.institutionEmail || 'Ingrese el email de la institución' }}</a><br></br>
	</div>
    <label>Diagnóstico Salud Mental (Posadero)</label></br>
    <label><small>Diagnóstico profesional realizado por el Psiquiatra o Psicólogo del Posadero</small></label><br>
	<a href="#" editable-textarea="aided.mental.mentalHealthDiagnosis" e-rows="4" e-cols="50" ng-model="aided.mental.mentalHealthDiagnosis" onaftersave="update(['({mental: {mentalHealthDiagnosis: %data% }})', $data])">
		<pre>{{aided.mental.mentalHealthDiagnosis || 'Ingrese los antecedentes mentales del paciente'}}</pre>
	</a><br>
</div>
