<!-- Nacionalidad -->
<div id="name-group-create" class="form-group">
    <br>
    <div class="form-group">
        <label>Sexo:</label><br>
		<a href="#" editable-select="aided.personal.gender" e-ng-options="type.value as type.text for type in genderOptions" ng-model="aided.personal.gender" onaftersave="update(['({personal: {gender: %data% }})', $data])">
			{{(genderOptions | filter:{value: aided.personal.gender})[0].text || 'Indique el sexo'}}
		</a><br>
    </div>
    
    <div class="form-group">
        <label>Seguro médico:</label><br>
		<a href="#" editable-select="aided.personal.medicalInsurance" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.personal.medicalInsurance" onaftersave="update(['({personal: {medicalInsurance: %data% }})', $data])">
			{{(yesNoOptions | filter:{value: aided.personal.medicalInsurance})[0].text || 'Indique si tiene seguro médico'}}
		</a><br>
    </div>
    <div id="nationality-group-create" class="form-group">
        <label>Nacionalidad:</label><br>
		<a href="#" editable-select="aided.personal.nationality" ng-model="aided.personal.nationality" e-ng-options="country for country in aidedData.countries" onaftersave="update(['({personal: {nationality: %data% }})', $data])">
			{{aided.personal.nationality || 'Indique la nacionalidad'}}
		</a>
    </div>

    <div class="form-group">
        <label>Fecha de nacimiento:</label><br>
		<a href="#" editable-bsdate="aided.personal.dateOfBirth" e onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="update(['({personal: {dateOfBirth: %data% }})', $data])">
			{{ (aided.personal.dateOfBirth | date:"yyyy-MM-dd") || 'Ingrese la fecha de nacimiento' }}
		</a>
    </div>
    
    <div id="nationality-group-create" class="form-group">
        <label>Lugar de nacimiento:</label><br>
		<a href="" editable-text="aided.personal.placeOfBirth" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El lugar debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({personal: {placeOfBirth: %data% }})', $data])" ng-model="aided.personal.placeOfBirth">{{ aided.personal.placeOfBirth || 'Ingrese el lugar de nacimiento' }}</a>
    </div>
    
    <div class="form-group">
        <label>Teléfono móvil:</label><br>
		<a href="" editable-text="aided.personal.mobilePhoneNumber" onbeforesave="validate($data, '^[0-9|+-|\\s]{5,20}$', 'El número debe tener entre 5 y 20 dígitos.')" onaftersave="update(['({personal: {mobilePhoneNumber: %data% }})', $data])" ng-model="aided.personal.mobilePhoneNumber">{{ aided.personal.mobilePhoneNumber || 'Ingrese el número de teléfono móvil' }}</a>
    </div>

    <div class="form-group" ng-show="aided.personal.nationality != 'Argentina'">
        <label>Fecha aproximada de ingreso al país:</label><br>
		<a href="#" editable-bsdate="aided.personal.immigrationDate" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="update(['({personal: {immigrationDate: %data% }})', $data])">
			{{ (aided.personal.immigrationDate | date:"yyyy-MM-dd") || 'Ingrese la fecha de inmigración' }}
		</a>
    </div>

    <div class="form-group">
        <label>Situación de calle:</label><br>
        <label><small>¿El Asistido se encuentra en situación de calle?</small></label><br>
		<a href="#" editable-select="aided.personal.homeless" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="aided.personal.homeless" onaftersave="update(['({personal: {homeless: %data% }})', $data])">
			{{(yesNoOptions | filter:{value: aided.personal.homeless})[0].text || 'Indique si el asistido se encuentra en situación de calle'}}
		</a><br>
    </div>
    
    <div ng-repeat="place in aided.personal.places" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('personal', 'places', $index)">&times;</span>
        <label>Ciudad:</label><br>
		<a href="" editable-text="place.city" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'La ciudad debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('personal', 'places')" ng-model="place.city">{{ place.city || 'Ingrese la ciudad' }}</a><br></br>
        <label>Provincia:</label><br>
		<a href="" editable-text="place.province" onaftersave="updateCollection('personal', 'places')" ng-model="place.province">{{ place.province || 'Ingrese la provincia' }}</a><br></br>
        <label>Calle:</label><br>
		<a href="" editable-text="place.street" onbeforesave="validate($data, '^.{3,40}$', 'La calle debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('personal', 'places')" ng-model="place.street">{{ place.street || 'Ingrese la calle' }}</a><br></br>
        <label>Número:</label><br>
		<a href="" editable-text="place.streetNumber" onbeforesave="validate($data, '^[0-9]{1,5}$', 'El número debe tener entre 1 y 5 cifras.')" onaftersave="updateCollection('personal', 'places')" ng-model="place.streetNumber">{{ place.streetNumber || 'Ingrese el número de la calle' }}</a><br></br>
        <label>Barrio:</label><br>
		<a href="" editable-text="place.neighborhood" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'La ciudad debe tener entre 3 y 40 letras (no números).')" onaftersave="updateCollection('personal', 'places')" ng-model="place.neighborhood">{{ place.neighborhood || 'Ingrese el nombre del barrio' }}</a>
        <span class="help-block"></span>
        <div ng-repeat="time in aided.personal.places[$index].timetable" class="form-group list-group-item">
            <span class="close" ng-click="clearFromSubcollection('personal', 'places', 'timetable', $parent.$index, $index)">&times;</span>
            <label>Día:</label>
            <div class="list-group">
			<a href="#" editable-checklist="time.days" e-ng-options="d for d in ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']" onaftersave="updateCollection('personal', 'places')">
				{{ showChecklist(time.days) || 'Ingrese los días' }}
	  		</a><br></br>
            <label>Hora inicial:</label><br>
			<a href="#" editable-select="time.startHour" ng-model="time.startHour" e-ng-options="t for t in ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']" onaftersave="updateCollection('personal', 'places')">
				{{time.startHour || 'Ingrese la hora inicial'}}
			</a><br></br>
            <label>Hora final:</label><br>
            <a href="#" editable-select="time.endHour" ng-model="time.endHour" e-ng-options="t for t in ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']" onaftersave="updateCollection('personal', 'places')">
				{{time.endHour || 'Ingrese la hora final'}}
			</a>
        </div>
        </div>
        <br>
        <button class="btn btn-primary btn-restriction" ng-click="addToSubcollection('personal', 'places', 'timetable', $index)" ng-disabled="!aided.personal.homeless">
            <span class="glyphicon glyphicon-plus"></span> Agregar horario
        </button>
    </div>
    <br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('personal', 'places')" ng-disabled="!aided.personal.homeless">
        <span class="glyphicon glyphicon-plus"></span> Agregar lugar
    </button>
    <br></br>
    <div class="form-group">
        <label>Estado civil:</label>
		<div class="list-group">
			<a href="#" editable-select="aided.personal.maritalStatus" ng-model="aided.personal.maritalStatus" e-ng-options="m for m in aidedData.personal.maritalStatus" onaftersave="update(['({personal: {maritalStatus: %data% }})', $data])">
				{{aided.personal.maritalStatus || 'Seleccione una opción'}}
			</a><br>
        </div>
    </div>

    <div class="form-group">
        <label>Actualmente se encuentra:</label>
        <div class="list-group">
			<a href="#" editable-select="aided.personal.livingWith" ng-model="aided.personal.livingWith" e-ng-options="l for l in aidedData.personal.livingWith" onaftersave="update(['({personal: {livingWith: %data% }})', $data])">
				{{aided.personal.livingWith || 'Seleccione una opción'}}
			</a><br>
        </div>
    </div>

	<div ng-show="!aided.personal.homeless">
		<label>Zona de residencia</label><br>
    	<label><small>Indicar domicilio o zona de permanencia, en caso de encontrarse en situación de calle</small></label><br>
		<div class="form-group">
		    <label>Provincia:</label><br>
		    <a href="" editable-text="aided.personal.province" onaftersave="update(['({personal: {province: %data% }})', $data])" ng-model="aided.personal.province">{{ aided.personal.province || 'Ingrese la provincia' }}</a>
		</div>

		<div class="form-group">
		    <label>Localidad:</label><br>
			<a href="" editable-text="aided.personal.city" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'La ciudad debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({personal: {city: %data% }})', $data])" ng-model="aided.personal.city">{{ aided.personal.city || 'Ingrese la ciudad' }}</a>
		</div>

		<div class="form-group">
		    <label>Calle:</label><br>
			<a href="" editable-text="aided.personal.street" onbeforesave="validate($data, '^.{3,40}$', 'La calle debe tener entre 3 y 40 caracteres.')" onaftersave="update(['({personal: {street: %data% }})', $data])" ng-model="aided.personal.street">{{ aided.personal.street || 'Ingrese la calle' }}</a>
		</div>

		<div class="form-group">
		    <label>Altura de calle:</label><br>
			<a href="" editable-text="aided.personal.streetNumber" onbeforesave="validate($data, '^[0-9]{1,5}$', 'El número debe tener entre 1 y 5 cifras.')" onaftersave="update(['({personal: {streetNumber: %data% }})', $data])" ng-model="aided.personal.streetNumber">{{ aided.personal.streetNumber || 'Ingrese el número de la calle' }}</a>
		</div>
		
		<div class="form-group">
		    <label>Barrio:</label><br>
			<a href="" editable-text="aided.personal.neighborhood" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'La ciudad debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({personal: {neighborhood: %data% }})', $data])" ng-model="aided.personal.neighborhood">{{ aided.personal.neighborhood || 'Ingrese el nombre del barrio' }}</a>
		</div>
		
		<div class="form-group">
		    <label>Teléfono de la casa, departamento u hotel donde reside o pernocta:</label><br>
			<a href="" editable-text="aided.personal.residencePhoneNumber" onbeforesave="validate($data, '^[0-9|+-|\\s]{5,20}$', 'El número debe tener entre 5 y 20 dígitos.')" onaftersave="update(['({personal: {residencePhoneNumber: %data% }})', $data])" ng-model="aided.personal.residencePhoneNumber">{{ aided.personal.residencePhoneNumber || 'Ingrese el número de teléfono' }}</a>
		</div>
		
		<div class="form-group">
		    <label>Persona de contacto de la casa, departamento u hotel (nombre y apellido):</label><br>
			<a href="" editable-text="aided.personal.residenceContactName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({personal: {residenceContactName: %data% }})', $data])" ng-model="aided.personal.residenceContactName">{{ aided.personal.residenceContactName || 'Ingrese el nombre de la persona de contacto' }}</a>
		</div>
		
		<div class="form-group">
		    <label>Teléfono personal de la persona de contacto:</label><br>
			<a href="" editable-text="aided.personal.residenceContactPhoneNumber" onbeforesave="validate($data, '^[0-9|+-|\\s]{5,20}$', 'El número debe tener entre 5 y 20 dígitos.')" onaftersave="update(['({personal: {residenceContactPhoneNumber: %data% }})', $data])" ng-model="aided.personal.residenceContactPhoneNumber">{{ aided.personal.residenceContactPhoneNumber || 'Ingrese el número de teléfono' }}</a>
		</div>
		
		<div class="form-group">
		    <label>Mail personal de la persona de contacto:</label><br>
			<a href="" editable-text="aided.personal.residenceContactEmail" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'El número debe tener entre 5 y 20 dígitos.')" onaftersave="update(['({personal: {residenceContactEmail: %data% }})', $data])" ng-model="aided.personal.residenceContactEmail">{{ aided.personal.residenceContactEmail || 'Ingrese la dirección de correo electrónico' }}</a>
		</div>
	</div>
</div>
