<div id="nationality-group-create" class="form-group">
    <br>
    <label>Diagnóstico integral</label></br>
    <label><small>Describir detalladamente el diagnóstico biopsicosocial realizado por el Posadero</small></label><br>
	<a href="#" editable-textarea="aided.innkeeper.biopsychosocialDiagnosis" e-rows="4" e-cols="50" ng-model="aided.innkeeper.biopsychosocialDiagnosis" onaftersave="update(['({innkeeper: {biopsychosocialDiagnosis: %data% }})', $data])">
		<pre>{{aided.innkeeper.biopsychosocialDiagnosis || 'Ingrese el diagnóstico'}}</pre>
	</a><br>
    <label>Plan de acción</label>
    <div ng-repeat="step in aided.innkeeper.plan" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('innkeeper','plan',$index)">&times;</span>
        <label><small>Meta:</small></label><br>
		<a href="" editable-text="step.goal" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'El nombre de la meta debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('innkeeper','plan')" ng-model="step.goal">
			{{ step.goal || 'Ingrese el nombre de la meta' }}
		</a><br></br>
        <label><small>Desde:</small></label><br>
		<a href="#" editable-bsdate="step.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('innkeeper', 'plan')">
			{{ (step.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <label><small>Hasta:</small></label><br>
		<a href="#" editable-bsdate="step.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('innkeeper', 'plan')">
			{{ (step.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
		</a><br></br>
        <label><small>Acción:</small></label><br>
		<a href="#" editable-select="step.action" ng-model="step.action" e-ng-options="a for a in aidedData.innkeeper.actions" onaftersave="updateCollection('innkeeper','plan')">
			{{ step.action || 'Seleccione la acción'}}
		</a>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('innkeeper','plan')">
        <span class="glyphicon glyphicon-plus"></span> Agregar meta
    </button>
</div>
