<div id="nationality-group-create" class="form-group">
    <br>
    <label>Servicios sociales</label>
    <div ng-repeat="service in aided.socialServices.services" class="form-group list-group-item">
        <span class="close" ng-click="clearFromCollection('socialServices','services',$index)">&times;</span>
        <label><small>Tipo de servicio social:</small></label><br>
		<a href="#" editable-select="service.category" ng-model="service.category" e-ng-options="t for t in aidedData.socialServices.type" onaftersave="updateCollection('socialServices','services')">
			{{service.category || 'Indique el tipo de servicio' }}
		</a><br></br>
        <label><small>Desde:</small></label><br>
		<a href="#" editable-bsdate="service.from" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('socialServices', 'services')">
			{{ (service.from | date:"yyyy-MM-dd") || 'Ingrese la fecha de inicio' }}
		</a><br></br>
        <div ng-show="!service.currentlyUsing">
          <label><small>Hasta:</small></label><br>
          <a href="#" editable-bsdate="service.to" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" e-datepicker-popup="yyyy-MM-dd" onaftersave="updateCollection('socialServices', 'services')">
              {{ (service.to | date:"yyyy-MM-dd") || 'Ingrese la fecha de finalización' }}
          </a><br></br>
        </div>
        <label><small>¿Está usando este servicio actualmente?</small></label><br>
		<a href="#" editable-select="service.currentlyUsing" e-ng-options="type.value as type.text for type in yesNoOptions" ng-model="service.currentlyUsing" onaftersave="updateCollection('socialServices','services')">
			{{(yesNoOptions | filter:{value: service.currentlyUsing})[0].text || 'Indique si está usando el servicio'}}
		</a><br></br>
		<label><small>Nombre del prestador:</small></label><br>	
		<a href="" editable-text="service.provider" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('socialServices', 'services')" ng-model="service.provider">{{ service.provider || 'Ingrese el nombre del prestador' }}</a><br></br>
        <label><small>Dirección:</small></label><br>
		<a href="" editable-text="service.address" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'La dirección debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('socialServices', 'services')" ng-model="service.address">{{ service.address || 'Ingrese la dirección del prestador' }}</a><br></br>
        <label><small>Número de teléfono:</small></label><br>
		<a href="" editable-text="service.phoneNumber" onbeforesave="validate($data, '^[0-9|\\s|+-]{5,20}$', 'El número de teléfono debe tener entre 5 y 20 caracteres.')" onaftersave="updateCollection('socialServices', 'services')" ng-model="service.phoneNumber">{{ service.phoneNumber || 'Ingrese el teléfono del prestador' }}</a><br></br>
        <label><small>Email:</small></label><br>
		<a href="" editable-text="service.email" onbeforesave="validate($data, '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$', 'Ingrese un email válido.')" onaftersave="updateCollection('socialServices', 'services')" ng-model="service.email">{{ service.email || 'Ingrese el email de la institución' }}</a><br></br>
		<label><small>Punto de contacto:</small></label><br>		
		<a href="" editable-text="service.pointOfContact" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|0-9|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 caracteres.')" onaftersave="updateCollection('socialServices', 'services')" ng-model="service.pointOfContact">{{ service.pointOfContact || 'Ingrese el nombre del punto de contacto' }}</a><br></br>
    </div>
    </br>
    <button class="btn btn-primary btn-restriction" ng-click="addToCollection('socialServices','services')">
        <span class="glyphicon glyphicon-plus"></span> Agregar servicio
    </button>
</div>
