<div class="tab-pane fade active in">
	<div class="page-header">
		<h1>Asistidos</h1>
	</div>

	<!-- FORM -->
	<form>
		<!-- Filtro de búsqueda-->
		<div id="name-group-search" class="form-group">
      <label>Nombre o apellido del asistido</label>
			<input type="text" name="name" class="form-control" ng-model="search"/>
			<span class="help-block"></span>
		</div>

    <!--Filtro Mis Asistidos--->
    <div class="form-group" id="my-aided">
      <label>Mostrar sólo Mis Asistidos</label>
      <input type="checkbox" ng-model="showMyAided">
    </div>

	  <div ng-init="find()" class="list-group" style="height:60vh;overflow-y:auto;margin-top:25px">
      <a ng-if="!showMyAided" ng-href="aided/{{aided._id}}" ng-repeat="aided in aidedPeople | filter:search" class="list-group-item">
        <span class="clearfix">
          <img style="float:left;" ng-src="/uploads/{{aided.profilePicture}}" height="64" width="64"/>
          <h4 style="float:left; margin:20px;">
            {{aided.name}} {{aided.lastName}}
          </h4>
        </span>
      </a>
      <a ng-if="showMyAided" ng-href="aided/{{aided._id}}" ng-repeat="aided in aidedPeople | filter:search | inArray:currentUser.aided:'_id'" class="list-group-item">
          <span class="clearfix">
          <img style="float:left;" ng-src="/uploads/{{aided.profilePicture}}" height="64" width="64"/>
          <h4 style="float:left; margin:20px;">
            {{aided.name}} {{aided.lastName}}
          </h4>
        </span>
      </a>
    </div>
  </form>
</div>
