<div class="tab-pane fade active in">
  <div class="page-header">
    <h1>Perfil del Asistido</h1>
  </div>

  <div class="container" ng-init="findOne()">
    <div class="col-md-3">
      <label>Foto de perfil</label>
      <img class="img-thumbnail" ng-src="/uploads/{{aided.profilePicture}}" height="200" width="200"/><br></br>
      <button class="btn btn-default" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-size="4MB">
        Seleccionar foto
      </button><br></br>
      <div style="font:smaller">{{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0 && f.progress != 100">
          <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
        </span>
      </div>
      {{errorMsg}}
      <div id="map" style="height:400px; witdth:275px" ng-show="aided.personal.places[0].city != unefined && aided.personal.places[0].province != unefined && aided.personal.places[0].street != unefined && aided.personal.places[0].streetNumber != unefined"></div>
      <br>
      <button type="button" ng-if="!isSubscribed" class="btn btn-success" ng-click="subscribe(true)">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Suscribirse
      </button>
      <button type="button" ng-if="isSubscribed" class="btn btn-danger" ng-click="subscribe(false)">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Desuscribirse
      </button>

      <button class="btn btn-default" ng-click="openPosaderoRefer()">Derivar</button>
    </div>


    <div class="col-md-9 personal-info">
      <!-- FORM -->
      <div>
        <!-- NOMBRE -->
        <div id="name-group-create" class="form-group">
          <label>Nombre del asistido:</label><br>
          <a href="" editable-text="aided.name" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({name: %data% })', $data])" ng-model="aided.name">
            {{ aided.name || 'Ingrese el nombre del asistido' }}
          </a><br>
        </div>

        <!-- APELLIDO -->
        <div id="lastname-group-create" class="form-group">
          <label>Apellido del asistido:</label><br>
          <a href="" editable-text="aided.lastName" onbeforesave="validate($data, '^[A-Z|a-z|á-ú|\\s]{3,40}$', 'El nombre debe tener entre 3 y 40 letras (no números).')" onaftersave="update(['({lastName: %data% })', $data])" ng-model="aided.lastName">
            {{ aided.lastName || 'Ingrese el apellido del asistido' }}
          </a><br>
        </div>

        <!-- DNI -->
        <div id="dni-group-create" class="form-group">
          <label>DNI del asistido (sin puntos, espacios o comas):</label><br>
          <a href="" editable-text="aided.dni" onbeforesave="validate($data, '^[0-9]{8,8}$', 'El DNI debe ser un número de 8 cifras (sin puntos).')" onaftersave="update(['({dni: %data% })', $data])" ng-model="aided.dni">
            {{ aided.dni || 'Ingrese el DNI del asistido' }}
          </a><br>
        </div>

        <uib-tabset>
          <uib-tab heading="Datos personales" active="true" ng-if="aided.personal != undefined">
            <div ng-include="" src="'partials/aided/sections/personal.html'"></div>
          </uib-tab>
          <uib-tab heading="Familia" active="false" ng-if = "aided.family != undefined">
            <div ng-include="" src="'partials/aided/sections/family.html'"></div>
          </uib-tab>
          <uib-tab heading="Salud Clínica" ng-if = "aided.clinical !=undefined">
            <div ng-include="" src="'partials/aided/sections/clinical.html'"></div>
          </uib-tab>
          <uib-tab heading="Salud Mental" ng-if = "aided.mental != undefined">
            <div ng-include="" src="'partials/aided/sections/mental.html'"></div>
          </uib-tab>
          <uib-tab heading="Adicciones" ng-if = "aided.addictions != undefined">
            <div ng-include="" src="'partials/aided/sections/adictions.html'"></div>
          </uib-tab>
          <uib-tab heading="Servicios Sociales" ng-if = "aided.socialServices != undefined">
            <div ng-include="" src="'partials/aided/sections/socialServices.html'"></div>
          </uib-tab>
          <uib-tab heading="Educación" ng-if = "aided.education != undefined">
            <div ng-include="" src="'partials/aided/sections/education.html'"></div>
          </uib-tab>
          <uib-tab heading="Empleo" ng-if = "aided.job != undefined">
            <div ng-include="" src="'partials/aided/sections/job.html'"></div>
          </uib-tab>
          <uib-tab heading="Legal" ng-if = "aided.legal != undefined">
            <div ng-include="" src="'partials/aided/sections/legal.html'"></div>
          </uib-tab>
          <uib-tab heading="Donaciones" ng-if = "aided.donations != undefined">
            <div ng-include="" src="'partials/aided/sections/donations.html'"></div>
          </uib-tab>
          <uib-tab heading="Diagnóstico Posadero" ng-if = "aided.innkeeper != undefined">
            <div ng-include="" src="'partials/aided/sections/posadero.html'"></div>
          </uib-tab>
        </uib-tabset>

        <div class="list-group">
          <div ng-repeat="alert in alerts" class="listgroup-item alert my-alert-item alert-{{alert.type}}">
            {{alert.msg}}
            <span class="close" ng-click="removeAlert($index)">&times;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
