<div class="tab-pane fade active in">
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-plus"></span> Derivación de Asistido</h1>
  </div>

  <div class="col-md-3">
    <label>Foto de perfil</label>
    <img ng-src="/uploads/{{referral.profilePicture}}" height="200" width="200"/>
    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
            accept="image/*" ngf-max-size="4MB">
      Seleccionar foto</button>
    <div style="font:smaller">{{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0 && f.progress != 100">
          <div style="width:{{f.progress}}%"
               ng-bind="f.progress + '%'"></div>
      </span>
    </div>
    {{errorMsg}}
  </div>

  <!-- FORM -->
  <form ng-submit="refer()" class="col-md-9">
    <!-- NOMBRE -->
    <div id="name-group-create" class="form-group">
      <label>Nombre del asistido</label>
      <input type="text" name="name" class="form-control" ng-model="referral.name" required/>
    </div>

    <!-- APELLIDO -->
    <div id="lastname-group-create" class="form-group">
      <label>Apellido del asistido</label>
      <input type="text" name="last_name" class="form-control" ng-model="referral.lastName" required/>
    </div>

    <!-- DNI -->
    <div id="dni-group-create" class="form-group">
      <label>DNI del asistido (sin puntos, espacios o comas)</label>
      <input type="number" name="dni" class="form-control" ng-model="referral.dni" title="El DNI debe ser un número de 7 u 8 cifras" min="1000000" max="100000000"/>
      <span class="help-block"></span>
    </div>

    <!-- UBICACION -->
    <div id="location-group-create" class="form-group">
      <label>UBICACIÓN (Asistido)</label><br>
      <label><small>Indicar la calle y altura (o intersección de calles) donde se ubica el Asistido</small></label>
      <input type="text" name="location" class="form-control" ng-model="referral.location" required/>
    </div>

    <!-- REFER REASON -->
    <div id="referReason-group-create" class="form-group">
      <label>AYUDA </label><br>
      <label><small>Indicar el tipo de ayuda que necesita el Asistido. PUEDE SELECCIONAR MÁS DE UNA OPCIÓN.</small></label>
      <div class="list-group">
        <label class="list-group-item" ng-repeat="referReason in aidedData.refer.reason">
          <input type="checkbox" checklist-model="referral.reasons" checklist-value="referReason"/> {{referReason}}
        </label>
      </div>
    </div>

    <!-- DESCRIPCION -->
    <div id="necessities-group-create" class="form-group">
      <label>DESCRIPCIÓN</label><br>
      <label><small>Describa las necesidades del asistido</small></label>
      <input type="text" name="necessities" class="form-control" ng-model="referral.necessities"/>
    </div>

    <!-- POSADERO -->
    <div id="posadero-group-create" class="form-group">
      <label>GRUPO A DERIVAR </label><br>
      <label><small>Seleccione el grupo y posada al cual está derivando al Asistido.</small></label>
      <select required class="form-control" ng-selected="referral.group" ng-model="referral.group" ng-options="group as group.inn.name + ': ' + group.day + ' ' + group.time for group in groups">
        <option value="">Seleccione una Posada</option> 
      </select>
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-success btn-lg btn-block">
      <span class="glyphicon glyphicon-plus"></span> Derivar
    </button>
    <div class="list-group">
      <div ng-repeat="alert in alerts" class="listgroup-item alert my-alert-item alert-{{alert.type}}">
        {{alert.msg}}
        <span class="close" ng-click="removeAlert($index)">&times;</span>
      </div>
    </div>
  </form>
</div>
