<div>
  <div class="modal-header">
    <h3 class="modal-title">Derivar Asistido</h3>
  </div>

  <div class="modal-body">
    <!-- NOMBRE, APELLIDO -->
    <div id="name-group-search" class="form-group">
      <label>Nombre o apellido del posadero</label>
      <input type="text" name="name" class="form-control" ng-model="search.search"/>
    </div>

    <div ng-init="find()" class="modal-body">
      <div class="list-group" >
        <a  ng-if="user._id != currentUser._id" ng-click="refer(user._id)" ng-repeat="user in users | filter:search" class="list-group-item">
          <span class="clearfix">
            <img style="float:left;" ng-src="/uploads/{{user.profilePicture}}" height="64" width="64"/>
            <h4 style="float:left; margin:20px;">
              {{user.name}} {{user.lastName}}
            </h4>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
  </div>
</div>
