<div class="tab-pane fade active in">
	<div class="page-header">
		<h1><span class="glyphicon glyphicon-plus"></span> Alta de asistido</h1>
	</div>
	<!-- FORM -->
	<form ng-submit="create()">
		<!-- NOMBRE -->
		<div id="name-group-create" class="form-group">
			<label>Nombre del asistido</label>
			<input type="text" name="name" class="form-control" ng-model="name" pattern="[A-Z|a-z|á-ú|\s]{3,20}" title="El nombre debe tener entre 3 y 20 caracteres." required></input>
			<span class="help-block"></span>
		</div>

		<!-- APELLIDO -->
		<div id="lastname-group-create" class="form-group">
			<label>Apellido del asistido</label>
			<input type="text" name="last_name" class="form-control" ng-model="lastName" pattern="[A-Z|a-z|á-ú|\s]{3,20}" title="El apellido debe tener entre 3 y 20 caracteres." required></input>
			<span class="help-block"></span>
		</div>

		<!-- DNI -->
		<div id="dni-group-create" class="form-group">
			<label>DNI del asistido</label>
      <label><small>(Sin puntos, espacios o comas)</small></label>
			    <input type="text" name="dni" class="form-control" ng-model="dni" title="El DNI debe ser un número" required></input>
			<span class="help-block"></span>
		</div>

		<!-- SUBMIT BUTTON -->
		<button type="submit" class="btn btn-success btn-lg btn-block">
			<span class="glyphicon glyphicon-plus"></span> Dar de alta
		</button>
		<div class="list-group">
			<div ng-repeat="alert in alerts" class="listgroup-item alert my-alert-item alert-{{alert.type}}">
				{{alert.msg}}
				<span class="close" ng-click="removeAlert($index)">&times;</span>
			</div>
		</div>
	</form>
</div>
