
<section ng-show="events.length > 0">
  <h1>Notificaciones</h1>
  <ul class="list-group">
	<li class="list-group-item clearfix" ng-repeat="event in (filteredItems = (events | orderBy: 'time':true | limitTo: 10))" ng-style="event.read ? {'background-color': '#ffffff'} : {'background-color': '#edeff5'}">
	  <h4 class="list-group-item-heading">
	    <strong><a ng-href={{event.userURL}}>{{event.userName}}</a></strong> modificó la sección <em>{{event.section}}</em> del asistido <strong><a ng-href={{event.aidedURL}}>{{event.aidedName}}</a></strong><br>
	    <small>{{event.time | date : 'longDate'}}</small>
	  </h4>
	</li>
  </ul>
</section>


