<div class="page-header">
  <h1>Profesiones</h1>
</div>
<label>Nueva profesión:</label>
<div ng-include="" ng-init="init('PROFESSION', 'PROFESSION_SPECIALIZATION')" src="'partials/tags/tags.html'"></div>
