<section>
  <form class="form-horizontal" ng-submit="create()">
    <div class="form-group">
      <div class="controls">
        <input type="text" ng-model="name" class="form-control" id="name" required="" class="form-control"/>
      </div>

      <button type="submit" class="btn btn-lg btn-primary btn-block">Guardar</button>
    </div>
  </form>
</section>

<section ng-init="find()">
  <ul class="list-group">
    <li class="list-group-item clearfix" ng-repeat="tag in tags">
      <h3 class="list-group-item-heading">
        {{ tag.name }}
        <a ng-href="{{tagUrl}}/{{tag._id}}" class="pull-right btn btn-primary tag-btn">
          <span class="glyphicon glyphicon-edit"></span> Editar
        </a>
        <button class="pull-right btn btn-danger tag-btn" ng-click="remove($index)">
          <span class="glyphicon glyphicon-remove"></span> Eliminar
        </button>
      </h3>
      <br>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="subtag in tag.subtags">
          <h5 class="list-group-item-text">{{ subtag.name }}</h5>
        </li>
      </ul>
    </li>
  </ul>
</section>


