<div>Nombre: <a href="" onaftersave="update($data)" editable-text="tag.name">{{ tag.name || 'empty' }}</a></div>

<table ng-show="subcategory != null" ng-init="findOne()" class="table table-bordered table-hover table-condensed">
  <tr style="font-weight: bold">
    <td style="width:75%">Especialización</td>
    <td style="width:25%"></td>
  </tr>

  <tr  ng-repeat="subtag in tag.subtags">
    <td>
        <span editable-text="subtag.name" e-name="name" e-form="subtagForm" e-required>
          {{ subtag.name }}
        </span>
    </td>
    <td style="white-space: nowrap">
      <!-- form -->
      <form editable-form name="subtagForm" onbeforesave="saveSubtag($index, $data)" ng-show="subtagForm.$visible" class="form-buttons form-inline" shown="insertingSubtag">
        <button type="submit" ng-disabled="subtagForm.$waiting" class="btn btn-primary">
          Guardar
        </button>
        <button type="button" ng-disabled="subtagForm.$waiting" ng-click="subtagForm.$cancel();cancelSubtag($index)" class="btn btn-default">
          Cancelar
        </button>
      </form>
      <div class="buttons" ng-show="!subtagForm.$visible">
        <button ng-disabled="insertingSubtag || editingSubtag" class="btn btn-primary" ng-click="subtagForm.$show(); editSubtag()">Editar</button>
        <button ng-disabled="insertingSubtag || editingSubtag" class="btn btn-danger" ng-click="removeSubtag($index)">Eliminar</button>
      </div>
      {{parent.editingSubtag}}
    </td>
  </tr>
</table>

<button ng-show="subcategory != null" ng-disabled="insertingSubtag || editingSubtag" class="btn btn-default" ng-click="addSubtag()">Agregar especialización</button>

<div class="list-group" ng-if="category =='PROFESSION'" id="access">
  <br/><br/>
  <label>Secciones:</label><br>
  <label class="list-group-item " ng-repeat="section in sections">
    <input type="checkbox" checklist-model="tag.sections" checklist-value="section.name"> {{section.title}}
  </label>
</div>
