<div class="page-header">
<h1>Áreas Temáticas</h1>
</div>
<label>Nueva área temática:</label>
<div ng-include="" ng-init="init('THEMATIC_AREA', 'THEMATIC_AREA_SPECIALIZATION')" src="'partials/tags/tags.html'"></div>
