<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/static/lumencor.png" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <!-- Notificaciones -->
        <li ng-show="currentUser && currentUser.role == 1">
          <a href="/main">
            <div class="notification-icon" ng-class="{active: $uiRoute}" ng-show="currentUser">
              <span class="glyphicon glyphicon-globe"></span>
              <span class="badge badge-notify" ng-show="events.unread() > 0">{{events.unread()}}</span>
            </div>
          </a>
        </li>

        <!-- Mensajes -->
        <li ng-show="currentUser && (currentUser.role == 1 || currentUser.role == 2)">
          <a href="/conversations">
            <div class="notification-icon" ng-class="{active: $uiRoute}">
              <span class="glyphicon glyphicon-envelope"></span>
              <span class="badge badge-notify" ng-show="unread_messages > 0">{{unread_messages}}</span>
            </div>
          </a>
        </li>

        <!-- Usuarios -->
        <li ng-show="currentUser && (currentUser.role == 1 || currentUser.role == 2)">
          <a href="/users">
            <div class="notification-icon" ng-class="{active: $uiRoute}">
              <span class="glyphicon glyphicon-user"></span>
            </div>
          </a>
        </li>

        <!-- Las opciones directas -->
        <li ng-repeat="item in menu.general" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
          <a href="/{{item.link}}">{{item.title}}</a>
        </li>

        <!-- Los dropdowns -->
        <li class="dropdown" dropdown ng-show="currentUser" ng-repeat= "item in menu.tabs">
          <a class="dropdown-toggle" dropdown-toggle>{{item.title}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="option in item.options" ui-route="/{{option.link}}" ng-class="{active: $uiRoute}">
              <a href="/{{option.link}}">{{option.title}}</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- User -->
      <ul class="nav navbar-nav navbar-right" ng-hide="currentUser">
        <li><a href="/login">Acceder</a></li>
        <li><a href="/signup">Registrarse como voluntario</a></li>
      </ul>

      <!-- User -->
      <ul class="nav navbar-nav navbar-right" ng-show="currentUser">
        <img hspace="10" ng-src="/uploads/{{currentUser.profilePicture}}" height="48" width="48"/>
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle" dropdown-toggle>Bienvenido, {{ currentUser.name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
