<div class="container">
    <div class="row">
      <h1>Registrarse</h1>
        <div class="signup-well">
            <form class="form" name="form" ng-submit="register(form)" novalidate>
                <div class="form-group"
                     ng-class="{
                     'has-warning': form.email.$dirty,
                     'has-success': form.email.$valid && form.email.$dirty && !form.email.$error.mongoose,
                     'has-error': form.email.$invalid && form.email.$dirty || form.email.$error.mongoose
                     }">
                    <label>Email:</label>
                    <input class="form-control"
                           placeholder="Tu email"
                           type="email"
                           name="email"
                           ng-model="user.email"
                           required
                           autofocus
                           on-focus
                           mongoose-error/>
                    <p class="help-block"
                       ng-show="form.email.$error.email && !form.email.$focused">
                        Not a valid email.
                    </p>
                    <p class="help-block"
                       ng-show="form.email.$error.mongoose">
                        {{ errors.email }}
                    </p>
                </div>

                <!-- NOMBRE -->
                <div id="name-group-search" class="form-group" novalidate>
                    <label>Nombre:</label>
                    <input required type="text" name="name" class="form-control" placeholder="Tu nombre" ng-model="user.name"/>
                    <span class="help-block"></span>
                </div>

                <!-- APELLIDO -->
                <div id="lastname-group-search" class="form-group" novalidate>
                    <label>Apellido:</label>
                    <input required type="text" name="lastName" class="form-control" placeholder="Tu apellido" ng-model="user.lastName"/>
                    <span class="help-block"></span>
                </div>

                <div class="form-group"
                     ng-class="{'has-warning': form.password.$dirty,
                                'has-success': form.password.$valid && form.password.$dirty && !form.password.$error.mongoose,
                                'has-error': form.password.$invalid && form.password.$dirty || form.password.$error.mongoose
                                }">
                    <label>Contraseña:</label>
                    <input class="form-control"
                           placeholder="Contraseña  "
                           type="password"
                           name="password"
                           ng-model="user.password"
                           ng-minlength="5"
                           required
                           mongoose-error/>
                    <p class="help-block"
                       ng-show="(form.password.$error.minlength || form.password.$invalid)
                                && form.password.$dirty
                                && !form.password.$error.required">
                        Password must be at least 5 characters.
                    </p>
                    <p class="help-block"
                       ng-show="form.password.$error.mongoose">
                        {{ errors.password }}
                    </p>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid">Registrarse</button>
            </form>
        </div>
    </div>
</div>
