<section>
  <div class="page-header">
    <h1>Posadas</h1>
  </div>

  <form class="form-horizontal" ng-submit="create()">
    <div class="form-group">
      <div class="controls">
        <label>Nombre:</label><input type="text" ng-model="name" class="form-control" id="name" required="" class="form-control"/>
        <label>Teléfono:</label><input type="text" ng-model="phone" class="form-control" id="phone" required="" class="form-control"/>
        <label>Dirección:</label><input type="text" ng-model="address" class="form-control" id="address" required="" class="form-control"/>
      </div>

      <button type="submit" class="btn btn-lg btn-primary btn-block">Guardar</button>
    </div>
  </form>
</section>

<section ng-init="find()">
  <ul class="list-group">
    <li class="list-group-item clearfix" ng-repeat="inn in inns">
      <h3 class="list-group-item-heading">
        {{ inn.name }}
        <a ng-href="inns/{{inn._id}}" class="pull-right btn btn-primary tag-btn">
          <span class="glyphicon glyphicon-edit"></span> Editar
        </a>
        <button class="pull-right btn btn-danger tag-btn" ng-click="remove($index)">
          <span class="glyphicon glyphicon-remove"></span>Eliminar
        </button>
      </h3>
      <h5 class="list-group-item-text">Teléfono: {{ inn.phone}}</h5>
      <h5 class="list-group-item-text">Dirección: {{ inn.address}}</h5>
      <br>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="group in inn.groups">
          <h5 class="list-group-item-text">{{ group.name }}</h5>
          <h5 class="list-group-item-text">{{ group.day }}</h5>
          <h5 class="list-group-item-text">{{ group.time }}</h5>
        </li>
      </ul>
    </li>
  </ul>
</section>


