<div class="page-header">
  <h1>Posadas</h1>
</div>

<div>Nombre: <a href="" onaftersave="update($data, 'name')" editable-text="inn.name">{{ inn.name || 'empty' }}</a></div>
<div>Teléfono: <a href="" onaftersave="update($data, 'phone')" editable-text="inn.phone">{{ inn.phone|| 'empty' }}</a></div>
<div>Dirección: <a href="" onaftersave="update($data, 'address')" editable-text="inn.address">{{ inn.address|| 'empty' }}</a></div>

<table ng-init="findOne()" class="table table-bordered table-hover table-condensed">
  <tr style="font-weight: bold">
    <td style="width:25%">Grupo</td>
    <td style="width:25%">Día</td>
    <td style="width:25%">Horario</td>
    <td style="width:25%"></td>
  </tr>

  <tr  ng-repeat="group in inn.groups">
    <td>
        <span editable-text="group.name" e-name="name" e-form="groupForm" e-required>
          {{ group.name }}
        </span>
    </td>
    <td>
        <span editable-text="group.day" e-name="day" e-form="groupForm" e-required>
          {{ group.day}}
        </span>
    </td>
    <td>
        <span editable-text="group.time" e-name="time" e-form="groupForm" e-required>
          {{ group.time }}
        </span>
    </td>
    <td style="white-space: nowrap">
      <!-- form -->
      <form editable-form name="groupForm" onbeforesave="saveGroup($index, $data)" ng-show="groupForm.$visible" class="form-buttons form-inline" shown="insertingGroup">
        <button type="submit" ng-disabled="groupForm.$waiting" class="btn btn-primary">
          Guardar
        </button>
        <button type="button" ng-disabled="groupForm.$waiting" ng-click="groupForm.$cancel();cancelGroup($index)" class="btn btn-default">
          Cancelar
        </button>
      </form>
      <div class="buttons" ng-show="!groupForm.$visible">
        <button ng-disabled="insertingGroup|| editingGroup" class="btn btn-primary" ng-click="groupForm.$show(); editGroup()">Editar</button>
        <button ng-disabled="insertingGroup || editingGroup" class="btn btn-danger" ng-click="removeGroup($index)">Eliminar</button>
      </div>
    </td>
  </tr>
</table>

<button ng-disabled="insertingGroup || editingGroup" class="btn btn-default" ng-click="addGroup()">Agregar grupo</button>

