<div class="page-header">
    <h1>
        <span class="glyphicon glyphicon-plus"></span> Envíar Mensaje
    </h1>
</div>

<section>
    <form class="form-horizontal" ng-submit="create()">

        <div class="form-group">
            <label>Asunto:</label>
            <input type="text" class="form-control" ng-model="subject" required/>
        </div>

        <div class="form-group">
            <label>Mensaje:</label>
            <textarea rows=8 class="form-control" ng-model="content" required></textarea>
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Envíar</button>
    </form>
</section>
