<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-search"></span> Mensajes
  </h1>
</div>

<div ng-init="find()" class="list-group" style="height:50vh;overflow-y:auto;margin-top:25px">
  <uib-alert ng-if="conversations.length == 0">No hay mensajes</uib-alert>
  <ul class="list-group">
    <a ng-href="conversations/{{conversation._id}}" ng-style="hasUnreadMessages(conversation) ? {'background-color': '#edeff5'} : {'background-color': '#ffffff'}" class="list-group-item" ng-repeat="conversation in conversations">
      <span class="list-group-item-heading">
        <p style="float:right;"><small>Último mensaje: {{conversation.lastSent | date: 'short' }}</small></p>
        <p ng-show = "conversation.participants[0]._id != currentUser._id" class="list-group-item-heading">
        <img style="float:left;" hspace="10" ng-src="/uploads/{{conversation.participants[0].profilePicture}}" height="32" width="32"/>
          {{conversation.participants[0].name + ' ' + conversation.participants[0].lastName + ': ' + conversation.subject}}
        </p>

        <p ng-show = "conversation.participants[1]._id != currentUser._id" class="list-group-item-heading">
          <img style="float:left;" hspace="10" ng-src="/uploads/{{conversation.participants[1].profilePicture}}" height="32" width="32"/>
          {{conversation.participants[1].name + ' ' + conversation.participants[1].lastName + ': ' + conversation.subject}}
        </p>
      </span>
    </a>
  </ul>
</div>
</div>
