<section ng-init="findOne()">
  <div class="page-header"()>
    <h1>
      <span>{{conversation.subject}}</span>
    </h1>
  </div>

  <div scroll-to-bottom="conversation.messages" class="list-group" style="height:50vh;overflow-y:scroll;margin-top:25px">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="message in conversation.messages">
          <img style="float:left;" hspace="10" ng-src="/uploads/{{pictures[message.from]}}" height="32" width="32"/>
          <span class="list-group-item-heading">
              <p style="float:right;"><small>{{message.sent | date: 'short' }}</small></p>
              <p><strong><a href=/profile/{{message.from}}>{{message.fromName}}</a></strong></p>
          </span>
          <p style="word-wrap: break-word" class="list-group-item-text">  {{message.content}} </p>
        </li>
      </ul>
  </div>
  <form class="form-horizontal form-group" ng-submit="send(form)" ng-keyup="(enter_to_send && $event.keyCode == 13) && send(form)">
    <textarea style="resize:none" rows="4" name="answer" class="form-control" ng-model="conversation.answer" placeholder="Escribí una respuesta..."></textarea>
    <div style="float:right;"><small style="color:gray;">Presionar Enter para enviar </small><input type="checkbox" ng-model="enter_to_send" ng-init="enter_to_send=true"></div><br></br>
    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!conversation.answer">Envíar</button>
  </form>
</section>
