
<section ng-show="referrals.length > 0">
  <h1>Derivaciones</h1>
  <ul class="list-group">
    <li class="list-group-item clearfix" ng-repeat="refer in referrals">
      <h4 class="list-group-item-heading">
        <strong><a ng-href="/profile/{{refer.sourceUser._id}}">{{refer.sourceUser.name}} {{refer.sourceUser.lastName}}</a></strong> te derivó el asistido <strong><a href="/aided/{{refer.aided._id}}">{{refer.aided.name}} {{refer.aided.lastName}}</a></strong><br>
        <small>{{refer.date| date : 'longDate'}}</small>
      </h4>
    </li>
  </ul>
</section>


