<div class="page-header">
    <h1>
        <span class="glyphicon glyphicon-search"></span> Usuarios
    </h1>
</div>
<!-- FORM -->
<form>
    <!-- NOMBRE -->
    <div id="name-group-search" class="form-group">
        <label>Nombre y Apellido</label>
        <input type="text" name="name" class="form-control"  ng-model="search.fullName"></input>
        <span class="help-block"></span>
    </div>
	<div id="name-group-search" class="form-group">
        <label>Tipo de usuario</label><br>
		<select class="form-control" ng-model="search.role">
			<option value=1>Posadero</option>
			<option value=2>Voluntario</option>
		</select>
    </div>
	<div id="name-group-search" class="form-group" ng-show="search.role == 1">
       <label>Posada</label><br>
	   <select class="form-control" ng-model="search.group.inn.name">
	    	<option ng-repeat="inn in inns" value="{{inn.name}}">{{inn.name}}</option>
		</select>
		<div id="name-group-search" class="form-group" ng-show="search.group.inn">
		    <label>Grupo</label><br>
			<select class="form-control" ng-model="search.group.name">
				<option ng-repeat="group in groups | filter: groupFilter" value="{{group.name}}">{{group.name}}</option>
			</select>
    	</div>
    </div>
    <accordion close-others="false">
      <accordion-group heading="Profesión">
        <div class="form-group">
          <div class="list-group" id="profession">
            <label class="list-group-item" ng-repeat="profession in tags | filter:{category:0}">
              <input type="checkbox" checklist-model="user.professions" checklist-value="profession._id"> {{profession.name}}
              <!--Especialización -->
              <div class="list-group" ng-if="user.professions.indexOf(profession._id)!=-1">
                <label class="list-group-item" ng-repeat="specialization in tags | filter:{category:4} | inArray:profession.subtags:'_id'">
                  <input type="checkbox" checklist-model="user.subprofessions" checklist-value="specialization._id"> {{specialization.name}}
                </label>
              </div>
            </label>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="Áreas temáticas">
        <div class="form-group">
          <div class="list-group" id="thematicAreas">
            <label class="list-group-item" ng-repeat="thematicArea in tags | filter:{category:2}">
              <input type="checkbox" checklist-model="user.thematicAreas" checklist-value="thematicArea._id"> {{thematicArea.name}}
              <!--Especialización -->
              <div class="list-group" ng-if="user.thematicAreas.indexOf(thematicArea._id)!=-1">
                <label class="list-group-item" ng-repeat="specialization in tags | filter:{category:5} | inArray:thematicArea.subtags:'_id'">
                  <input type="checkbox" checklist-model="user.subthematicAreas" checklist-value="specialization._id"> {{specialization.name}}
                </label>
              </div>
            </label>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="Población">
        <div class="list-group">
          <div class="list-group-item" class="form-group">
            <label for="population">Grupo etáreo:</label>
            <div class="list-group" id="population">
              <label class="list-group-item" ng-repeat="population in tags | filter:{category:1}">
                <input type="checkbox" checklist-model="user.populations" checklist-value="population._id"> {{population.name}}
              </label>
            </div>
          </div>
          <div class="list-group-item" class="form-group">
            <label for="gender">Sexo:</label>
            <div class="list-group" id="gender">
              <label class="list-group-item" ng-repeat="gender in tags | filter:{category:3}">
                <input type="checkbox" checklist-model="user.sexes" checklist-value="gender._id"> {{gender.name}}
              </label>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>
</form>
<br>
<div ng-init="find()" class="list-group" >
    <a ng-href="profile/{{user._id}}" ng-repeat="user in users | filter:search | filter:tagFilter" class="list-group-item">
        <span ng-if="user._id != currentUser._id" class="close glyphicon glyphicon-envelope" ng-click="message($event, user)"></span>
		<span class="clearfix">
			<img style="float:left;" ng-src="/uploads/{{user.profilePicture}}" height="64" width="64"/>
			<h4 style="float:left; margin:20px;">
				{{user.name}} {{user.lastName}}
			</h4>
		</span>
    </a>
</div>
