<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-plus"></span> Invitar Posadero
  </h1>
</div>

<section>
  <form name="formInvite" class="form-horizontal" ng-submit="invite()">

    <div class="form-group" ng-class="{'has-error': error}">
      <p class="help-block" ng-show="error">{{error}}</p>
      <div class="controls">
        <label>Email</label>
        <input type="text" ng-model="inviteData.email" class="form-control" required="true" class="form-control">
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': error}">
      <label>Grupo</label>
      <select class="form-control"
              oninvalid="this.setCustomValidity('Seleccione una posada')"
              ng-model="inviteData.group"
              ng-options="group as group.inn.name + ': ' + group.day + ' ' + group.time for group in groups"
              required>
      </select>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Invitar</button>
  </form>
    <div class="list-group">
      <h1 ng-show="pendingInvites">Invitaciones pendientes</h1>
      <label class="list-group-item" ng-repeat="pendingInvite in pendingInvites">
        <h4 class="list-group-item-heading">{{pendingInvite.email}}</h4>
      </label>
    </div>

</section>
